= semantic_form_for([:admin, @space], :html => {:multipart => true}) do |f|
  .row
    .small-6.columns
      .row
        .small-12.columns= f.input :contact_person
      .row
        .small-12.columns= f.input :contact_email
      .row
        .small-12.columns= f.input :contact_phone
      .row  
        .small-12.columns= f.input :website1
      .row
        .small-12.columns= f.input :website2
    .small-6.columns
      .row
        .small-12.columns
          %p= t "supermarket2014.visiting_address_different"
          = f.input :visiting_address1, :input_html => { :value => (@space.visiting_address1.blank? ? @space.address1 : @space.visiting_address1) }
      .row
        .small-12.columns
          = f.input :visiting_address2, :input_html => { :value => (@space.visiting_address2.blank? ? @space.address2 : @space.visiting_address2) }
      .row
        .small-12.columns= f.input :visiting_city, :input_html => { :value => (@space.visiting_city.blank? ? @space.city : @space.visiting_city) }
      .row
        .small-12.columns= f.input :visiting_state, :input_html => { :value => (@space.visiting_state.blank? ? @space.state : @space.visiting_state) }
      .row
        .small-12.columns= f.input :visiting_postcode, :input_html => { :value => (@space.visiting_postcode.blank? ? @space.postcode : @space.visiting_postcode) }
      .row  
        .small-12.columns= f.input :visiting_country, :as => :country, :iso_codes => true, :priority_countries => [], :include_blank => t("supermarket2014.please_choose_a_country"), :input_html => {:required => true}
        
  %hr
  
  .row
    .small-6.columns
      .row
        .small-12.columns= f.input :short_description, :label => t("aim.short_description")
      .row
        .small-12.columns
          .yesno= t("aim.decision_makers_organisation")
          = f.input :decisionmakers_organisation, :label => false, :as => :select, :include_blank  => false
      .row
         
      .row
        .small-12.columns
          .yesno= t("aim.decision_makers_programming")
          = f.input :decisionmakers_programming, :label => false, :as => :select, :include_blank  => false
      .row
        .small-12.columns= f.input :founding_year, :label => t("aim.founding_year")
      .row
        .small-12.columns= f.input :is_active, :label => t("aim.is_active"), :id => 'activespace'
      .row
        .small-12.columns= f.input :year_of_closing, :label => t("aim.year_of_closing"), :input_html => {:disabled => :disabled}
      .row
        .small-12.columns= f.input :exhibitors, :as => :select, :collection => [[t("aim.mostly_members"),'mostly members'], [t("aim.mixed_members"), 'mixed members and invited' ], [t("aim.mostly_invited"), 'Mostly invited' ], [t("aim.no_exhibitions"), 'no exhibitions' ]], :label => t("aim.exhibitors")
      .row
        .small-12.columns= f.input :businesstypes,  :label => t("aim.businesstype_fieldset"), :hint => t("aim.organisation_type_hint")        
      .row
        .small-12.columns= f.input :organisationtypes,  :label => t("aim.organisation_type_fieldset"), :hint => t("aim.organisation_type_hint")
          
    .small-6.columns
      .row
        .small-12.columns= f.input :activities, :as => :check_boxes, :label => t("aim.activities_fieldset"), :hint => t("aim.activities_hint")
      .row
        .small-12.columns= f.input :exhibitionspacetype, :as => :select, :label => t("aim.exhibitionspace_type_fieldset")
      .row
        .small-12.columns
          - if f.object.logo?
            %li
              %label= t("aim.your_application_image")
              .image= image_tag f.object.logo.url(:sidebar)
            = f.input :logo, :label => t("aim.change_image")
          - else
            = f.input :logo
  .row
    .small-6.columns
      = f.submit 'Save'  

= content_for :jquery do
  :plain
    $('#space_organisationtype_ids').chosen();
    $('#space_businesstype_ids').chosen();