
.row
  .small-8.columns 
    %h4 All initiatives
    
    
.row
  .small-12.columns
    Showing 
    = @spaces.total_count
.row.filter_box
  .small-4.columns
    %b Filter by:
    = form_tag filter_name_admin_spaces_path do
      = autocomplete_field_tag :business_name, '', autocomplete_space_business_name_spaces_path, :value => params[:business_name] 
  .small-3.columns.left
    .filter_title Show:
    %select#by_approval
      %option{:value => ""} all 
      %option{:value => "true", :selected => (params[:by_approval] == 'true' ? :selected : false)}
        Approved
        = " (#{Space.approved.count})"
      %option{:value => "false", :selected => (params[:by_approval] == 'false' ? :selected : false)}
        Not approved
        = " (#{Space.unapproved.count})"        
    :javascript
      $('.filter_box select').change(function() {
        var parts = "#{request.url}".split(/\?/, 2);
        if (parts[1]) {
          window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\w+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
        } else {
          window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
        }
      }); 
.row
  .small-12.columns= paginate @spaces
.row

  .small-10.columns
    %table
      %thead
        %th= sortable_column "Name", :column => "name"
        %th= sortable_column "Where?", :column => "location"
        %th= sortable_column "Info", :column => "info"
        %th &nbsp;
      %tbody
        - @spaces.order('created_at DESC').each do |space|
          %tr
            %td= space.name
            %td= space.hometown
            %td
              %em
                = space.approved? ? 'approved' : (space.denied? ? 'denied' : 'not decided yet')
              - unless space.updated_at.blank?
                %br/
                %small
                  Last modified
                  = l space.updated_at, :format => :long
            %td= link_to 'Details',  admin_space_path(space), :target => :_blank, :class => [:button, :round, :tiny]
.row
  .small-12.columns= paginate @spaces