%h2 Initiatives


.filter_box.row
  Showing 
  = @spaces.total_count
  .large-3.columns
    .filter_title Show:
    %select#by_approval
      %option{:value => ""} all 
      %option{:value => "true", :selected => (params[:by_approval] == 'true' ? :selected : false)}
        Approved
        = " (#{Space.approved.count})"
      %option{:value => "false", :selected => (params[:by_approval] == 'false' ? :selected : false)}
        Not approved
        = " (#{Space.unapproved.count})"
        
  :javascript
    $('.filter_box select').change(function() {
      var parts = "#{request.url}".split(/\?/, 2);
      if (parts[1]) {
        window.location.href=parts[0] + "?" + parts[1].replace(new RegExp("\\&*" + $(this).attr('id') + "\=\\w+", "g"), '') + "&" + $(this).attr('id') + "=" + $(this).val();
      } else {
        window.location.href=parts[0] + "?" + $(this).attr('id') + "=" + $(this).val();
      }
    }); 

.cms_grid

  .thirteen.columns.alpha= paginate @spaces     
  - @spaces.each do |space|
    .thirteen.columns.space= render :partial => 'space', :locals => {:space => space}

  = paginate @spaces 