.row
  .small-12.columns
    %h1= @space.name
    
.row
  .small-12.columns
    - if @space.approved?
      %button.round Approved
    - else
      = link_to 'Approve', approve_admin_space_path(@space), :method => :post,  :class => [:button, :round]
    - if @space.denied?
      %button.round.alert Denied
    - else
      = link_to 'Deny', '#', :onclick => '$(".deny_form").slideToggle();', :class => [:button, :alert, :round]
    = link_to 'Edit', edit_admin_space_path(@space), :class => [:button, :round], :target => :_blank
- unless @space.spacecomments.empty?
  .row
    .small-10.columns
      %p
        %b= link_to pluralize(@space.spacecomments.size, 'comment') + ' on this space',  '#', :onclick => "javascript:scrollToId('#space_comments');" 
.row.deny_form
  .small-10.columns
    %h2= "You are not approving #{@space.name}...."
  .small-12.columns
    %h5 Why are you not approving it?
    = semantic_form_for(Spacecomment.new, :url => comment_admin_space_path(@space)) do |f|
      .row
        .small-3.columns
          = image_tag current_user.avatar
          %strong
            %p= current_user.display_name
        .small-9.columns
          = f.input :user_id, :as => :hidden, :value => current_user.id
          = f.input :comment, :as => :text
          = f.input :deny_field, :as => :hidden, :value => 1
      .row
        .small-12.columns
          = f.submit 'Deny!', :class => [:button, :alert, :round]
.row
  .small-12.columns.space
    .title_and_web
      .space_websites
        - unless @space.website1.blank?
          %p.space_web= link_to @space.website1, @space.website1_safe, :target => :_blank
        - unless @space.website2.blank?
          %p.space_web= link_to @space.website2, @space.website2_safe, :target => :_blank
    %b= t :contact
    %br/
    = @space.contact_person
    %br/
    - if @space.contact_email.blank?
      %em Missing contact email
    - else
      = link_to @space.contact_email, "mailto:#{@space.contact_email}"
    %br/
    - if  @space.contact_phone.blank?
      %em Missing contact details
    - else
      = @space.contact_phone
      
    %br/
    %br/
    %b Business types:
    - if @space.businesstypes.empty?
      %p.business_type Not filled out
    - else
      %p.business_type= @space.businesstypes.map(&:name).join(' / ')

    %b Organisation types:
    - if @space.organisationtypes.empty?
      %p.business_type Not filled out
    - else
      %p.business_type= @space.organisationtypes.map(&:name).join(' / ')      
.row
  .small-12.columns
    .space_metadata

      .section_content.readmore= raw simple_format(@space.short_description)
  
      .section_heading
        %b= t "aim.what_they_do"
      .section_content
        %ul
          - unless @space.exhibitionspacetype.nil?
            %li= @space.exhibitionspacetype.name
          -  unless @space.is_active == true
            %li= t(:inactive)
          %li
            - if @space.founding_year
              = @space.founding_year
              = " - "
              - if @space.is_active == true
                = t(:present)
              - else
                = @space.year_of_closing
            - else
              - if @space.is_active?
                = t(:currently_active)
              - else
                - if @space.year_of_closing?
                  = @space.year_of_closing
          - unless @space.exhibitions_per_year.blank?
            %li
              = @space.exhibitions_per_year
              = t "aim.exhibitions_per_year"
              %ul
                %li
                  = "#{@space.percent_for_exhibitions.to_s}% " + t("aim.dedicated_to_exhibitions")
                - unless @space.exhibitors.blank?
                  %li= @space.exhibitors
                - unless @space.percent_invited.blank?
                  %li= "#{@space.percent_invited}% " + t("aim.invited")
            - unless @space.activities_other.blank?
              %li= "#{@space.activities_other} " + t("aim.per_year_other")
      .section_heading 
        %b= t "aim.what_they_exhibit"
      .section_content
        - if @space.activities.empty?
          %p Not filled out
        - else
          %p= @space.activities.map(&:name).join(' - ')
.row
  .small-12.columns.space
    .logo
      - if @space.logo?
        %img{:src => @space.logo.url(:profile)}
      - else
        &nbsp;
  .small-12.columns
    .section_heading
      %b= t "aim.where_they_are"
    .section_content
    
      - if @space.visiting_address1.blank?
        = @space.address1  + "," unless @space.address1.blank?
        = @space.address2  + "," unless @space.address2.blank?
        = @space.city unless @space.city.blank?
        = @space.state unless @space.state.blank? || (@space.state == @space.city)
        = @space.postcode unless @space.postcode.blank?
        = Country[@space.country].name unless @space.country.blank?
      - else
        = @space.visiting_address1  + "," unless @space.visiting_address1.blank?
        = @space.visiting_address2  + "," unless @space.visiting_address2.blank? 
        = @space.visiting_city  + "," unless @space.visiting_city.blank?
        = @space.visiting_state  + "," unless @space.visiting_state.blank? || (@space.visiting_state == @space.visiting_city)
        = @space.visiting_postcode unless @space.visiting_postcode.blank?
        = Country[@space.visiting_country].name unless @space.visiting_country.blank?
.row
  .small-12.columns
    
    %ul{:"data-orbit" => true}
      - @space.allimages.each do |i|
        %li
          = image_tag i.first.url
          - unless i.last.blank?
            .orbit-caption= i.last
- unless @space.spacecomments.empty?
  .row#space_comments
    .small-8.columns
      %h3 Comments from AIM staff:
      - @space.spacecomments.sort_by(&:created_at).each do |s|
        .row.space_comment
          .small-8.columns
            .row
              .small-4.columns
                = image_tag s.user.avatar
                %p= s.user.display_name
                %p
                  %em= time_ago_in_words(s.created_at) + " ago"
              .small-8.columns= raw s.comment
.row
  .small-8.columns
    %h3 Comment on this space
    = semantic_form_for(Spacecomment.new, :url => comment_admin_space_path(@space)) do |f|
      .row
        .small-3.columns
          = image_tag current_user.avatar
          %strong
            %p= current_user.display_name
        .small-9.columns
          = f.input :user_id, :as => :hidden, :value => current_user.id
          = f.input :comment, :as => :text
      .row
        .small-12.columns
          = f.submit 'Comment!', :class => [:button, :tiny,  :round]
          
    
  
.row
  .small-12.columns
    - if @space.approved?
      %button.round Approved
    - else
      = link_to 'Approve', approve_admin_space_path(@space), :method => :post,  :class => [:button, :round]
    - if @space.denied?
      %button.round.alert Denied
    - else
      = link_to 'Deny', '#', :onclick => '$(".deny_form").slideToggle();', :class => [:button, :alert, :round]
    = link_to 'Edit', edit_admin_space_path(@space), :class => [:button, :round], :target => :_blank