= semantic_nested_form_for([:admin, @page], :html => {:multipart => true}) do |f|
  #language-tabs
    %ul.language-selection
      - I18n.available_locales.each do |locale|
        %li{:id => "lang-#{locale}"}= link_to locale.to_s, "#lang-#{locale}"
    - I18n.available_locales.each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          %b
            Name of page in
            = locale
          = en.text_field :title
          = en.text_area :body, :class => :ckeditor

  = f.input :parent, :as => :select, :collection => recurse_options_from_tree_collection_for_select(Page.roots, :id, :name), :hint => 'Leave blank for top level menu'
  = f.input :show_on_bottom, :as => :boolean, :label => "Show on post/news ticker at bottom (requires image)"
  - if f.object.postimage?
    %li
      %label existing image:
      = image_tag f.object.postimage.url(:frontsmall)
  = f.input :postimage, :label => 'Image for post ticker on bottom', :hint => "Recommended resolution 880px wide"
  = f.input :show_postimage_on_page, :label => "If post ticker image, also show hi-res version at top of page view"
  = f.input :postticker_title, :label => 'Alternate title to use on post ticker (leave blank to use regular title)'
  = f.input :subsite_ids, :as => :check_boxes, :collection => Subsite.all, :label => "Show page on which sites/themes (must choose at least one):"
  = f.input :not_in_menu, :as => :boolean, :label => "Don't include in menu structure"
  = f.input :published
  = f.submit
:javascript
  $('#language-tabs').tabs();