= semantic_nested_form_for([:admin, @page], :html => {:multipart => true}) do |f|
  #language-tabs
    %ul.language-selection
      - I18n.available_locales.each do |locale|
        %li{:id => "lang-#{locale}"}= link_to locale.to_s, "#lang-#{locale}"
    - I18n.available_locales.each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          %b
            Name of page in
            = locale
          = en.text_field :title
          = en.text_area :body, :class => :ckeditor

  = f.input :parent, :as => :select, :collection => recurse_options_from_tree_collection_for_select(Page.roots, :id, :name), :hint => 'Leave blank for top level menu'
  = f.input :subsite_ids, :as => :check_boxes, :collection => Subsite.all, :label => "Show page on which sites/themes:"
  = f.input :not_in_menu, :as => :boolean, :label => "Don't include in menu structure"
  = f.input :published
  = f.submit
:javascript
  $('#language-tabs').tabs();