%h3
  static pages
  .new_link= link_to 'create new', new_admin_page_path

.cms_grid
  - @pages.each do |page|
    .page.ten.columns
      .three.columns.alpha= page.name
      .two.columns= page.subsites.map(&:name).join(' / ')
      .four.columns.omega
        = link_to 'show', page
        - if can? :edit, Page
          |
          = link_to 'edit', edit_admin_page_path(page)
        - if can? :destroy, Page
          |
          = link_to 'delete', [:admin, page], :data => {:confirm => 'are you sure? there is no going back'}