// Search filter partial
= form_tag("/aiming/search", :method => "post") do
  .search_dropdown.row
    .small-12.columns
      .search_title= t :search
  .row
    .small-4.columns
      #menu

        %select{:name => :search_type}
          %option{:value => :name}= t :name
          %option{:value => :activities}= t :activities
          %option{:value => :location}= t :location
    .small-8.columns.alpha
      %input.shadow{:type => :text, :name => :search_term, :value => params[:search_term]}



