.login_stuff
  - if current_user
    .row
      .small-12.columns
        = t "aim.you_are_logged_in_as"
        = current_user.display_name
        .right
          = link_to destroy_user_session_path, :method => :delete do
            = t :sign_out
            %i.fa.fa-sign-out.fa-1
    .meta
      - if current_user.spaces.empty?
        .row
          .small-12.columns
            %p= t "aim.initiative_not_yet"
            %p= link_to t("aim.submit_your_initiative"), new_space_path
          
    
      - else
        - current_user.spaces.each do |space|
          .row
            .small-12.columns
              - if space.logo.blank?
                = space.try(:business_name)
              - else
                .sidebar_image= raw image_tag(space.logo.url(:sidebar), :style => "float: left; margin-right: 5px").gsub('production', 'development')
              - if space.approved?
                = link_to initiatives_path(space), :method => :get do
                  = t "aim.view_your_profile"
                  %i.fa.fa-binoculars.fa-1

              = link_to  edit_space_path(space) , :method => :get  do
                = t "aim.edit_your_details"
                %i.fa.fa-edit.fa-1

    
      - if current_user.is_aim_staff?
        = link_to '[Admin setup]', '/admin'
  - else 
    .login_text
      = t "aim.not_logged_in"
      %br/
      = link_to t('aim.connect_instantly'), new_user_session_path