!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Aiming"
    %meta{:content => content_for?(:description) ? yield(:description) : "Supermarket", :name => "description"}
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'aim/stylesheets/application', :media => :screen
    = javascript_include_tag :application
    = javascript_include_tag "aim/javascripts/application"
    
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
    = csrf_meta_tags
    = yield(:head)    
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body{:onload => 'initialize()'}
    .container
      .sixteen.columns.header
        .languages
 
          - I18n.available_locales.each do |locale|
            - if session[:locale].nil?
              - if locale == :en
                %b= locale.to_s
              - else
                = link_to locale.to_s, {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => locale.to_s}
            - else
              - if session[:locale] == locale
                %b= locale.to_s
              - else
                = link_to locale.to_s, {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => locale.to_s}


        .login_stuff
          - if current_user
            You are logged in as 
            = current_user.display_name
            = link_to t(:sign_out), '/logout'
            .meta
              - if current_user.spaces.empty?
                You have not yet submitted your organisation's information.
                = link_to 'Submit it now!', '/my_organisation'
              - else
                Your organisations:
                - current_user.spaces.each do |space|
                  - unless space.business_name.blank?
                    = space.business_name
                  .meta
                    - unless space.logo.blank?
                      = image_tag space.logo.url(:tiny), :style => "float: left; margin-right: 5px"
                    - if space.approved
                      .sidebar_tiny= link_to 'View your profile', initiatives_path(space)
                    - else
                      .sidebar_tiny= space.percent_complete + "% complete"
                    .sidebar_tiny= link_to 'Edit your details', '/my_organisation'
            - if current_user.is_aim_staff?
              = link_to '[Admin setup]', '/admin'
          - else 
            .login_text
              You are not logged in.
            .login_text
              = t :connect_instantly
              = link_to 'Facebook', '/auth/facebook'
              |
              = link_to 'Twitter', '/auth/twitter'
        .flash
          - flash.each do |key, value|
            .alert{ :class => "alert-#{key}" }
              %strong
                = value             
        %h1
          %a.button_to{:href => '/'}
            -#= image_tag(theme_image_path('aim_logo.png'))
            Aiming
          - Page.by_subsite(@subsite.id).published.each do |page|
            = button_to page.title, page, :method => :get
        .subtitle= t "aim.header_text"
      .sixteen.columns.search{:style => "display: " + (@nofilters.nil? ? 'inline' : 'none')}

        .search_dropdown.eight.columns.alpha
          %form{:action => "/browse/search", :method => "post"}
            #menu.two.columns.alpha
              .search_title= t :search_by
              %select{:name => :search_filter}
                %option{:value => :name}= t :name
                %option{:value => :activities}= t :activities
                %option{:value => :location}= t :location
            .six.columns.alpha
              %input.shadow{:type => :text, :name => :search_term}
              -# %input{:type => :submit, :value => ''}
        .filter_info.eight.columns.omega
          .search_title= t :showing
          .quotes{:class => (!@quotes ? :all : false)}
            - if !session[:filter_scope].blank?
              - s = []
              - session[:filter_scope].each do |child|
                - if child.first == 'country'
                  - s << child.last.map{|x| Country[x].name }.join(';')
                - else
                  - s << Object.const_get(child.first.humanize).find(child.last).map(&:name).join("; ")
              = "\"#{s.flatten.join('; ').strip}\""
            - else
              All spaces
          .eight.alpha.columns{:style => "display: " + (@nofilters.nil? ? 'inline' : 'none')}
            .filter_toggle          
              %a{:href => '#', :onClick => '$(".filter_container").slideToggle();'}
                = fa_icon 'bars'
                = t "aim.toggle_filters"
              - unless session[:filter_scope].nil?
                = link_to 'Clear filters', clear_filters_spaces_path

    .container
      .sixteen.columns.filter_container{:style => "display: " + 'none'}= render :partial => 'shared/aim_filters'
    .container
      .sixteen.columns= yield               


                              

      .footer.sixteen.columns
        .five.alpha.columns
          %label.sub= t :copyright_notice
        .five.columns.alpha
          / %label= t.subscribe
          / %input.shadow{:type => :text}
          &nbsp;
        .four.columns.alpha
          %label= t :contact
          %p
            Contact information here.
          %label= t :press
          %p
            Press info here
        .two.columns.omega
          %label= t :follow_us
          .facebook
            %a{:href => "need facebook link"}
              = image_tag theme_image_path('facebook_icon.png')
          .twitter
            %a{:href => "need twitter link"}
              = image_tag theme_image_path('twitter_icon.png')
      .support.sixteen.columns
        = t :supporters
        = image_tag theme_image_path('kknord.png')
        = image_tag theme_image_path('supermarket_no_year_black.png')
        
  :javascript
    $(document).ready(function() {

      $('#tree').jstree({
        "themes" : {
          "theme" :  "apple",
          "dots" : true,
          "icons" : false
          },
        core : { "initially_open" : [ "Europe" ] },
        plugins : ["themes", "html_data"]
      });
      #{yield :jquery}
    });
