!!! 5
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Artist Run Map"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    %meta{:content => content_for?(:description) ? yield(:description) : "Worldwide database of artist-run ", :name => "description"}
    = stylesheet_link_tag :application
    = stylesheet_link_tag 'aim/stylesheets/application', :media => :screen
    = javascript_include_tag :application
    = javascript_include_tag "aim/javascripts/application"
    %link{:href => "http://fonts.googleapis.com/css?family=Averia+Sans+Libre:300", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
    %script{:src => "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer_compiled.js", :type => "text/javascript"}
    = csrf_meta_tags
    = yield(:head)    
    
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/images/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "/images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    
    = javascript_include_tag "vendor/modernizr"
    
  %body{:onload => (@nofilters == true || (@space.blank? && @spaces.blank?)) ? false : 'initialize()'}
    
    .row
      .small-12.columns
        .languages.left
          - I18n.available_locales.each do |locale|
            - if session[:locale].nil?
              - if locale == :en
                %b= locale.to_s
              - else
                = link_to locale.to_s, {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => locale.to_s}
            - else
              - if session[:locale] == locale
                %b= locale.to_s
              - else
                = link_to locale.to_s, {:controller => controller.controller_name, :action => controller.action_name, :id => params[:id], :locale => locale.to_s}
        .small-10.small-offset-2.text-right= render :partial => 'layouts/user_info'
    .row
      .small-12.columns
        %h1.header_title
          = link_to 'Artist Run Map - ' + t("aim.header_text"), '/'
          
    - unless flash.blank?
      .flash
        .row
          .small-12.columns
            - flash.each do |key, value|
              .alert{ :class => "alert-#{key}" }
                %strong
                  = value 
                  
    - unless @nofilters
      .row
        .small-12.columns
          - if !@spaces.blank?
            %h4.matchcount
              = pluralize(@spaces.count, 'initiative')
              = session[:filter_scope].nil? ? t("aim.currently_in_database") :  t("aim.found_by_search")
              - unless session[:filter_scope].blank?

                %span.small= link_to '(who?)', '#', :onclick => "javascript:scrollToId('#hit_parade');" 
          
    - unless @nofilters
      .row
        .filter_info.small-12.columns= render :partial => 'layouts/filter_info'
      .row
        .small-12.columns.search= render :partial => 'layouts/search_filter'

      


    = yield 


                              
    %footer
      .container
        .row
          .small-4.columns
            %label.sub= t :copyright_notice
          .small-4.columns
            %label= t :contact
            %p
              info at artistrunmap &sdot; org

      .row
        .small-1.columns
          %label= t :follow_us
        .small-1.columns.facebook
          %a{:href => "need facebook link"}
            = image_tag theme_image_path('facebook_icon.png')
        .small-1.columns.twitter
          %a{:href => "need twitter link"}
            = image_tag theme_image_path('twitter_icon.png')
        .small-8.columns.small-offset-1
          = t :supporters
          = image_tag theme_image_path('kknord.png')
          = image_tag theme_image_path('supermarket_no_year_black.png')
    
  :javascript
    $(document).ready(function() {
      $(document).foundation();
      $('#tree').jstree({
        "themes" : {
          "theme" :  "apple",
          "dots" : true,
          "icons" : false
          },
        core : { "initially_open" : [ "Europe" ] },
        plugins : ["themes", "html_data"]
      });
      #{yield :jquery}
    });
