%h2 editing application

%p don't do this unless you have a good reason
= semantic_nested_form_for([:admin, @application], :html => {:multipart => true}) do |f|
  = f.input :organisation_name, :label => 'Name of initiative'
  %fieldset
    %legend Contact info
    = f.input :contact_address1
    = f.input :contact_address2
    = f.input :contact_city
    = f.input :contact_postcode
    = f.input :contact_country, :as => :country, :iso_codes => true, :priority_countries => [], :include_blank => t("supermarket2014.please_choose_a_country")
    = f.input :contact_email
    
  %fieldset
    %legend Visiting info (if different)
    = f.input :exhibitor_address1
    = f.input :exhibitor_address2
    = f.input :exhibitor_city
    = f.input :exhibitor_postcode
    = f.input :exhibitor_country, :as => :country, :iso_codes => true, :priority_countries => [], :include_blank => t("supermarket2014.please_choose_a_country")
    
  = f.input :hometown
  = f.input :staff
  = f.input :supermarket_proposal
  = f.input :organisation_description, label: 'Presentation text for website'
  .row
    .eight.columns
      - if f.object.application_image?
        Application image is 
        = image_tag f.object.application_image.url(:sidebar)
      = f.input :application_image, label: f.object.application_image? ? 'Change image' : 'Set image'
  .row
    .eight.columns
      %strong Space description (will apply to all years and appear in ARM):
      = f.fields_for :space do |ff|
        - if ff.object.logo?
          = image_tag ff.object.logo.url(:sidebar)
        = ff.input :logo, label: 'Logo for initiative (will remain for multiple years and appear on ARM)'
        = ff.input :short_description, :input_html => {:class => :tinymce, :rows => 40, :cols => 120}
      = tinymce
    = f.input :booth_granted, :as => :select, :collection => [['Accepted - large booth', 1], ['Accepted - small booth', 2], ['Accepted - presentation stand', 3], ['Not accepted', 4], ['Maybe', 5]], :label => t("supermarket2014.the_decision_is")
  
  %h2 Application web images:
  = f.fields_for :applicationwebimages do |ff|
    .row
      .three.columns
        - if ff.object.imagefile?
          = image_tag ff.object.imagefile.url(:sidebar)
      .nine.columns
    
        = ff.input :imagefile
        = ff.input :caption
        = ff.link_to_remove 'remove this image'
  = f.actions do
    = f.submit

  