= semantic_form_for [:admin, @frontcarousel], :html => {:multipart => true } do |f|
  = f.input :image :label => "Image. Make sure resolution is at least 1200x400 or it will be blurry"
  = f.input :title
  = f.input :caption
  = f.input :published
  = f.input :customcss
  = f.input :subsite, :input_html => {:value => 1 }, :include_blank => false
  = f.input :link_to
  = f.submit