
= semantic_form_for(@application, :url => wizard_path(step, :application_id => @application.id), :html => {:id => :application_2014}, :method => :put) do |f|
  .subtitle= t("supermarket2014.one_last_step")
  %p= t("supermarket2014.confirm_contact_details")
  = f.input :contact_email
  = f.input :contact_phone, :input_html => {:required => true}
  = f.input :form_direction, :input_html => { :value => "forward"}, :as => :hidden
  = f.actions do
    = f.action :submit, :label => raw("<i class='icon-circle-arrow-left icon-large'></i>") + t(:back), :as => :button,  :button_html => {:class => :previous}
    = f.action :submit, :label => raw("<i class='icon-check icon-large'></i>") + t(:complete_your_application), :as => :button,  :button_html => {:class => :completed}
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'      
    

:javascript
  $(document).ready(function() {
    $('#application_2014').validate();
    $('form button').click(function() {
      $("#application_form_direction").val($(this).attr('class'));
    });

  });  