= semantic_form_for(@application, :url =>  (@application.new_record? ? '/applications' : wizard_path(:address_and_location, :application_id => @application.id)), :method =>  (@application.new_record? ? :post : :put), :html => {:id => :application_2014} ) do |f|
  %p= t "supermarket2014.application_intro_text"
  %p= t "supermarket2014.swedish_ok"
  %p This year, you can apply for a large or small exhibition booth (for exhibition spaces), presentation stand (for other organisations) and/or to be a Professional Networking Participant (participate without exhibiting). Specific information will be found in the application.

  = f.input :space_id, :as => :hidden, :input_html => {:value => @application.space_id }
  = f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id }
  = f.input :year_id, :as => :hidden
  = f.input :organisation_name, :input_html => {:required => true, :value => (@application.organisation_name.blank? ? @space.business_name : @application.organisation_name)}
  = f.input :organisation_email, input_html: {required: ''}, hint: 'This is the email we will print in the catalogue.'
  .subtitle= t "supermarket2014.contact_info"

  %p= t "supermarket2014.contact_info_text"
  = f.input :contact_first_name, :input_html => {:required => true, :value => (@application.contact_first_name.blank? ? current_user.display_name.split(/\s/).first  : @application.contact_first_name rescue "Your First Name")}
  = f.input :contact_last_name, :input_html => {:required => true, :value => (@application.contact_last_name.blank? ? current_user.display_name.split(/\s/).last  : @application.contact_last_name rescue "Your Last Name")}
  = f.input :contact_email,  :input_html => {:required => true, :value => (@application.contact_email.blank? ? current_user.email : @application.contact_email) }, hint: 'Please enter an email address where we can always reach you.'
  = f.input :allow_late, :as => :hidden
  = f.input :form_direction,  :input_html => {:value => "forward"}, :as => :hidden
  .clearer
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-right icon-large'></i>") + t(:next), :as => :button,  :button_html => {:class => :beginning}

- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'

:javascript
  $(document).ready(function() {
    $('#application_2014').validate();
    $('form button').click(function() {

      $("#application_form_direction").val($(this).attr('class'));

    });
  });
