= semantic_form_for(@application, :url => wizard_path(step, :application_id => @application.id), :html => {:multipart => true, :id => :application_2014}, :method => :put) do |f|
  %p= t "supermarket2014.proposal_blurb"
  = f.input :supermarket_proposal, :label => t("supermarket2014.supermarket_proposal"), :input_html => {:required => true}

  = f.input :organisation_description, :label => "Presentation text (what you will exhibit this year at Supermarket):"
  - unless @application.space.applications.to_a.delete_if{|x| x == @application}.empty?
    %li
      %p
        %strong Please review the following details about your initiative and make sure they are current.
    = f.fields_for :space do |ff|
      = ff.input :short_description, input_html: { value: strip_tags(ff.object.short_description) }, hint: 'Please keep this description under 1200 characters.', label: "Overall description of your initiative (do not write about this specific year's exhibition at Supermarket): "
    
      = ff.input :decisionmakers_organisation, :label => t("supermarket2014.decision_makers_organisation")
      = ff.input :decisionmakers_programming, :label => t("supermarket2014.decision_makers_programming")
      = ff.input :founding_year, :label => t("supermarket2014.founding_year"), :input_html => {:required => true}
      = ff.input :is_active, :label => t("supermarket2014.is_active")
      = ff.input :year_of_closing, :label => t("supermarket2014.year_of_closing")
      = ff.input :organisationtypes, :as => :check_boxes, :label => t("aim.organisation_type_fieldset"), :hint => t("aim.organisation_type_hint")

    
  = f.input :form_direction, :input_html => { :value => "forward"}, :as => :hidden
  = f.actions do
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-left icon-large'></i>") + t(:back), :as => :button,  :button_html => {:class => :previous}
    = f.action :submit, :label => raw("<i class='fa-arrow-circle-right fa icon-large'></i>") + t(:next), :as => :button
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'          



:javascript
  $(document).ready(function() {

    $('#application_2014').validate();
    $('form button').click(function() {
      $("#application_form_direction").val($(this).attr('class'));
    });
  });  