= semantic_form_for(@application, :url => wizard_path(step, :application_id => @application.id), :html => {:multipart => true, :id => :application_2014}, :method => :put) do |f|
  %p
    = t "supermarket2014.proposal_blurb"
  = f.input :supermarket_proposal, label: 'Please write your exhibition proposal. How do you plan to use your booth/stand at Supermarket 2020? Who and what will you exhibit?', hint: raw('Your proposal will be considered as a part of the assessment criteria. You can write in English or Swedish.' + "<div id='remain_proposal' class='counter'></div>"), input_html: {disabled: ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }

  = f.input :organisation_description, label: 'Please write your presentation text.', hint: raw('Describe your exhibition at Supermarket 2020. Note that this text will be made public on our website on your presentation page.' + "<div id='presentation_proposal' class='counter'></div>"), input_html: {disabled:  ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }


  - unless @application.space.applications.to_a.delete_if{|x| x == @application}.empty?
    %li
      %p
        %strong Please review the following details about your initiative and make sure they are current.
    = f.fields_for :space do |ff|
      = ff.input :short_description, input_html: { value: strip_tags(ff.object.short_description) }, hint: 'Please keep this description under 1200 characters.', label: "Overall description of your initiative (do not write about this specific year's exhibition at Supermarket): "
    
      = ff.input :decisionmakers_organisation, :label => t("supermarket2014.decision_makers_organisation"), input_html: {disabled:  ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }
      = ff.input :decisionmakers_programming, :label => t("supermarket2014.decision_makers_programming"), input_html: {disabled:  ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }
      = ff.input :founding_year, :label => t("supermarket2014.founding_year"), :input_html => {:required => true, disabled:  ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }
      = ff.input :is_active, :label => t("supermarket2014.is_active"), input_html: {disabled:  ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }
      = ff.input :year_of_closing, :label => t("supermarket2014.year_of_closing"), input_html: {disabled:  ( (Date.today <= @application.year.registration_deadline || @application.approved? ) ? false : :disabled  ) }
      - unless @application.approved?
        = ff.input :organisationtypes, :as => :check_boxes, :label => t("aim.organisation_type_fieldset"), :hint => t("aim.organisation_type_hint")
    
  = f.input :form_direction, :input_html => { :value => "forward"}, :as => :hidden
  = f.actions do
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-left icon-large'></i>") + t(:back), :as => :button,  :button_html => {:class => :previous}
    = f.action :submit, :label => raw("<i class='fa-arrow-circle-right fa icon-large'></i>") + t(:next), :as => :button
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'          



:javascript
  $(document).ready(function() {
    $('#remain_proposal').text((1500 - $('#application_supermarket_proposal').val().length) + ' characters remaining');
    $('#presentation_proposal').text((1500 - $('#application_organisation_description').val().length) + ' characters remaining');
    $('#application_supermarket_proposal').keyup(function() {
      var tlength = $(this).val().length;
      $(this).val($(this).val().substring(0,1500));
      var tlength = $(this).val().length;
      remain = parseInt(tlength);
      $('#remain_proposal').text((1500 - remain) + ' characters remaining');
    });   
    $('#application_organisation_description').keyup(function() {
      var plength = $(this).val().length;
      $(this).val($(this).val().substring(0,1500));
      var plength = $(this).val().length;
      remain = parseInt(plength);
      $('#presentation_proposal').text((1500 - remain) + ' characters remaining');
    });
    $('#application_2014').validate();
    $('form button').click(function() {
      $("#application_form_direction").val($(this).attr('class'));
    });
  });  