= semantic_form_for(@application, :url => wizard_path(step, :application_id => @application.id), :html => {:multipart => true, :id => :application_2014}, :method => :put) do |f|
  %p= t "supermarket2014.secondary_info_application_blurb"
  = f.semantic_fields_for :space, @application.space do |ff|
    = ff.input :exhibitionspacetype_id, :as => :select, :collection => Exhibitionspacetype.all, :label => t("supermarket2014.exhibition_space_type"), :input_html => {:required => true, disabled: (@application.approved? ? :disabled : false ) }
    = ff.input :exhibitors, :as => :select, :collection => [[t("supermarket2014.mostly_members"),'mostly members'], [t("supermarket2014.mixed_members"), 'mixed members and invited' ], [t("supermarket2014.mostly_invited"), 'Mostly invited' ], [t("supermarket2014.no_exhibitions"), 'no exhibitions' ]], :label => t("supermarket2014.exhibitors"), :input_html => {:required => true, disabled: (@application.approved? ? :disabled : false ) }
  - if f.object.application_image?
    %li
      %label= t("supermarket2014.your_application_image")
      .image= image_tag f.object.application_image.url(:sidebar)
    = f.input :application_image, :label => t("supermarket2014.change_image")
  - else
    = f.input :application_image, :label => t("supermarket2014.image_or_logo"), :hint => t("supermarket2014.images_later")
  = f.input :hometown, :label => t("supermarket2014.hometown_explanation"), :hint => t("supermarket2014.hometown_hint"), :input_html => {:required => true, :value => (@application.hometown.blank? ? (@application.space.city.to_s) : @application.hometown) }
  = f.input :staff
  = f.input :form_direction, :input_html => { :value => "forward"}, :as => :hidden
  = f.actions do
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-left icon-large'></i>") + t(:back), :as => :button,  :button_html => {:class => :previous}
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-right icon-large'></i>") + t(:next), :as => :button

- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'          

:javascript
  $(document).ready(function() {
    $('#application_2014').validate();
    $('form button').click(function() {

      $("#application_form_direction").val($(this).attr('class'));

    });
  });
