.show_view
  %h1
    = t :application_for_supermarket
    = @application.year.year


  %h2= @application.space.name
  %h3= @application.hometown

  - if @application.finished?
    .submitted
      = t(:submitted) + ":"
      = l @application.submitted_at, :format => :long
  
  .six.columns.alpha
    %h3= t :contact_details
    %ul.application_show
      %li
        %label= t :contact_name
        .appval= @application.contact_full_name
      %li
        %label= t :contact_phone
        .appval= @application.contact_phone
      %li
        %label= t :contact_email
        .appval= link_to @application.contact_email, "mailto:#{@application.contact_email}"
      
      %li
        %label= t :contact_address
        .appval= raw @application.contact_full_address
    
  .six.columns.omega
    %h3= t :address_and_location
    %ul.application_show
      %li
        %label= t :address
        .appval= raw @application.exhibitor_full_address
      %li
        %label= t :phone
        .appval= @application.exhibitor_phone
      - unless @application.websites.empty?
        %li
          %label= t :websites
          .appval
            - @application.websites.each do |website|
              %p= link_to website.url, website.url_safe
  .twelve.columns
    %h3= t :details
    .six.columns.alpha
      %ul.application_show
        %li
          %label= t("supermarket2014.type_of_initiative")
          .appval= @application.space.businesstypes.map(&:name).join(' / ')
        %li
          %label= t("supermarket2014.decision_makers_organisation")
          .appval= @application.space.decisionmakers_organisation == true ? 'yes' : 'no'
        %li
          %label= t("supermarket2014.decision_makers_programming")
          .appval= @application.space.decisionmakers_programming == true ? 'yes' : 'no'
    .six.columns.omega
      %ul.application_show
        %li
          %label= t("supermarket2014.founding_year")
          .appval
            = @application.space.founding_year
            - if @application.space.is_active == false
              =" (closed in #{@application.space.year_of_closing})"
        %li
          %label= t :short_description
          .appval= @application.space.short_description
        %li
          %label= t("supermarket2014.exhibition_space_type")
          .appval= @application.space.exhibitionspacetype.try(:name)
        %li
          %label= t("supermarket2014.exhibitors")
          .appval= @application.space.exhibitors
        - if @application.application_image?
          %li
            %label= t("supermarket2014.your_application_image")
            .appval= image_tag(@application.application_image.url(:normal))
        %li
          %label= t(:staff)
          .appval
            %span.bigquote= raw("&#8220;")
            %p= raw @application.staff
            %span.bigquote= raw("&#8221;")
            
  .twelve.columns
    %h3= t :supermarket_proposal
    %ul.application_show
      - unless @application.booth_applied.blank?
        %li
          %label= t :booth_applied_for
          .appval= t ("supermarket2014.booth_#{@application.booth_type}")
      %li
        %label= t :supermarket_proposal
        .appval.blocktext
          %span.bigquote= raw("&#8220;")
          %p= raw @application.supermarket_proposal
          %span.bigquote= raw("&#8221;")
      %li
        %label= t("supermarket2014.need_darker_room")
        .appval= @application.need_darker_room == true ? 'yes' : 'no'
      %li
        %label= t("supermarket2014.wants_open_structure")
        .appval= @application.wants_open_structure == true ? 'yes' : 'no'
      %li
        %label= t("supermarket2014.special_needs")
        .appval= @application.special_needs
    
      - unless @application.booth_granted.blank? || @application.year.reveal_decisions == false
        %li
          %label= t :booth_result
          .appval= t ("supermarket2014.#{@application.granted_result}")      
  - unless @application.apply_to_malongen == false
    .twelve.columns
      %h3= t "supermarket2014.residency_malongen"
      %ul.application_show
        %li
          %label= t "supermarket2014.malongen_use"
          .appval.blocktext
            %span.bigquote= raw("&#8220;")
            %p= @application.malongen_use
            %span.bigquote= raw("&#8221;")
  - unless @application.applicationwebimages.empty? && @application.videolinks.empty?
    .twelve.columns
      %h3= t :images_and_video
      .application_show
        - @application.applicationwebimages.each do |aw|
          .asset_container.column.two
            %div{:id => "appwebimage_" + aw.id.to_s + "_orig", :class => :hidden}
              = image_tag aw.imagefile.url
            .asset{:id => "appwebimage_" + aw.id.to_s}= link_to image_tag(aw.imagefile.url(:sidebar)), 'javascript:void(0);', :onclick => "return false;", :class => "lightbox_image"
            .title= aw.title
            :javascript
              $('#appwebimage_#{aw.id.to_s} img').click(function() {
                $('#appwebimage_#{aw.id.to_s}_orig img').lightbox_me();
              });
            
        - @application.videolinks.each do |v|
          .asset_container.column.two
            .asset= figure_video_type(v, 320, 200)
            .title= v.title
  - unless @application.applicationlinks.empty? && (!@application.upload1? || !@application.upload2?)
    .twelve.columns
      %h3= t :websites_and_attachments
      %ul.application_show
        %li
          %label= t :websites
          .appval
            - @application.applicationlinks.each do |site|
              %p= link_to site.title.blank? ? site.url : site.title, site.url, :target => :_blank
        %li
          %label= t :attachments
          .appval
            - if @application.upload1?
              %p= link_to @application.upload1.file.filename, @application.upload1.url
            - if @application.upload2?
              %p= link_to @application.upload2.file.filename, @application.upload2.url              

- if user_signed_in?

  - if current_user.is_staff?
    .sixteen.columns
      %h2 Administrative
      - if @application.allow_late == true
        = link_to 'Stop allowing late editing', toggle_late_admin_application_path
      - else
        = link_to 'Allow late editing', toggle_late_admin_application_path
    .sixteen.columns#comment_area
      %h2= t("supermarket2014.staff_comments")
      - @application.applicationcomments.each do |comment|
        .comment.twelve.columns
          .two.columns.alpha
            = image_tag comment.user.avatar
            %strong= comment.user.display_name
            .date= l comment.created_at, :format => :short
              
          .eight.columns
            = simple_format(comment.comment)
      .twelve.columns
        %p= t("supermarket2014.leave_comment_blurb")
      .sixteen.columns
        = semantic_form_for(Applicationcomment.new, :url => comment_admin_application_path(@application)) do |f|
          .two.columns.alpha
            = image_tag current_user.avatar
            %strong
              = current_user.display_name
          .eight.columns
            = f.input :user_id, :as => :hidden, :value => current_user.id
            = f.input :comment, :as => :text
          = f.actions do
            = f.submit
      .sixteen.columns
        %h2 Make decision:
        = semantic_form_for([:admin, @application]) do |f|
          = f.input :booth_granted, :as => :select, :collection => [['Accepted - large booth', 1], ['Accepted - small booth', 2], ['Accepted - presentation stand', 3], ['Not accepted', 4]], :label => t("supermarket2014.the_decision_is")
          %li
            %label &nbsp;
            = f.submit t(:save)

  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'      