.image_banner.twelve.columns
  %h4 Your application images:
  %p Please go back and re-upload if there is a problem.
  - @application.applicationwebimages.each do |image|
    .columns.three{:style => "min-height: 200px;"}
      = image_tag image.imagefile.url(:sidebar)
      %br/
      %small= image.title
%br/

= semantic_nested_form_for(@application, :url => wizard_path(step, :application_id => @application.id), :html => {:multipart => true, :id => :application_2014, :novalidate => true}, :method => :put) do |f|
  - unless @application.approved?
    %h4= t("supermarket2014.supermarket_particulars_blurb")

    %br{clear: :all}
    %p
      We would like to make you aware of the possibility to take part in the Professional Networking Participants programme (PNP). PNPs do not exhibit but get invited to the Meetings Programme, Exhibitor gatherings, Exhibitor party, Supermarket Forum and have a special programme of seminars and presentations. PNPs have access to the Exhibitor lounge. The application should be made by an organisation that selects one or max. two persons as their representative.
      %br/
      You can apply for an exhibition booth primarily and take part as a PNP as a second option in case you do not get selected as exhibitor; or if your organisation would like to take part both as exhibitors and delegate a PNP participant. Please note that the exhibitor’s fee does not include the PNP participation fee.

    %p
      Professional Networking Participants fee: SEK 2000 + VAT (SEK 2500). The fee includes participation in the Supermarket Forum.

    = f.input :networking_only, as: :boolean, label: 'This organisation is applying for the Professional Networking Programme. (Also tick if you want this to be a second option in case you are not selected with your application for an exhibition stand.)'
    %br{clear: :all}
    %hr
    %br{clear: :all}
    = f.input :booth_applied, :as => :select, :label => t("supermarket2014.exhibition_stand_type_wanted"), :collection => {"Large exhibition stand (12–15 m2)" => "2", "Small exhibition stand (6-7 m2)" => "3", "Presentation stand (2 m2)" => "4", "No exhibition stand" => "5"}, :input_html => {:disabled => (!@application.year.open? ? false : false), :required => ''}
    %p= link_to "Prices and sizes", 'http://www.supermarketartfair.com/pages/exhibition-stand-sizes-and-prices', :target => :_blank
    .longhint= f.input :need_darker_room, :label => t("supermarket2014.need_darker_room"), :hint => t("supermarket2014.darker_room_hint"), :as => :boolean, :input_html => {:disabled => (!@application.year.open? ? false : false)}
    .longhint= f.input :wants_open_structure, :as => :boolean, :label => t("supermarket2014.wants_open_structure"), :hint => t("supermarket2014.open_structure_hint"), :input_html => {:disabled => (!@application.year.open? ? false : false)}
    = f.input :special_needs, :label => t("supermarket2014.special_needs"), :input_html => {:disabled => (!@application.year.open? ? false : false)} #, hint: (!@application.year.open? ? 'This field is now locked. Contact us via email if you have any new special needs or requests.' : false)
    %br{clear: :all}
    %hr
    %br{clear: :all}
    %p
      Do you wish to take part in Supermarket Forum 2020? Participation in Forum costs additional 500 SEK + VAT (625 SEK) which will be added to your total invoice. Read more about Forum and last year's participants
      = link_to 'here.', 'https://supermarketartfair.com/pages/forum' 
    %p.small
      Supermarket Forum is a day-long event that connects Supermarket’s exhibitors and PNPs with the contemporary Swedish art scene. The programme allows the exhibitors to meet curators, gallerists, art organisers and representatives of art institutions, present their projects in depth and talk within a simple framework focused on meetings and tours around the art fair. Forum 2020 will take place on Wednesday 22nd April.
    = f.input :wants_forum, label: 'Yes, I want to participate in Supermarket Forum 2020.'
  = f.input :form_direction, :input_html => { :value => "forward"}, :as => :hidden
  = f.actions do
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-left icon-large'></i>") + t(:back), :as => :button,  :button_html => {:class => :previous}
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-right icon-large'></i>") + t(:next), :as => :button
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'


:javascript
  $(document).ready(function() {
    $('#application_2014').validate();
    $('form button').click(function() {

      $("#application_form_direction").val($(this).attr('class'));

    });
  });
