%h2 Supermarket 2015 terms and regulations:
%h3= @application.organisation_name
.terms
  %p
    To agree on the terms and regulations:
    %ol
      %li Read through.
      %li Fill in your name at the top of this page.
      %li Click accept at the bottom of this page. 


  -# %p You will be notified by email when you have made your agreement.

  = semantic_form_for(@application, :url => accept_terms_application_path(@application), :method => :post) do |f|
    - if @application.accepting_name.blank?
      = f.input :accepting_name, :label => 'Your full name', :input_html => {:required => true}
    - else
      %h3
        Terms accepted by:
        %strong= @application.accepting_name


    %p
      %strong 1. The Supermarket 2015 management reserves the right to decide whether or not exhibited objects can be considered inappropriate and to take measures to have such objects removed.


    %p
      %strong 2. The participation fee must be paid in full to the organiser by the date stated on the invoice, if not otherwise agreed with the organiser. 
      = link_to '(Exhibition stand sizes and prices)', "<http://www.supermarketartfair.com/pages/exhibition-stand-sizes-and-prices"
      If not, the organiser is entitled to offer the place to another exhibitor. This does not imply exception from the obligation to pay the fee, unless a different agreement has been made with the organiser.


    %p
      %strong 3. The transfer of space rented to another party, either complete or in part, is not allowed without permission from the organiser. 
      If a participant host another exhibitor (for instance another gallery presented by the exhibiting gallery), only the original participant is presented in the list of exhibitors, the catalogue and on the website.


    %p
      %strong 4. Exhibitors must accept compromises in space that may become necessary due to circumstances.


    %p
      %strong 5. Each exhibitor is responsible of their own insurance required for their exhibit and staff.
      The exhibitor is responsible and liable to pay compensation for any damage to the exhibition premises or injuries to other people caused either by him or her. The organiser cannot be held responsible for theft of exhibited objects or for any form of insurance.


    %p
      %strong 6. The organiser is responsible for the cleaning of communal areas; the exhibitor is responsible for the cleaning of their booth and to leave garbage at appointed place.


    %p
      %strong 7. Dismantling of the booth/exhibits may not begin before the exhibition is closed on Sunday.


    %p
      %strong
        8. Unless special permission is granted by the Supermarket 2015 management, exhibitors are not allowed to:
        %ul
          %li Place objects outside their designated booth or block fire protection equipment, emergency exits or power points.

          %li Use materials not approved by the fire authorities.

          %li Utilise open fire or store gas or flammable liquids on the fair premises without permission from the fire authorities.


    %p
      %strong 9. All use of copyright protected material must be in compliance with the copyright legislation. Participants who want to play copyright music fill out a form and pay to STIM, the organisation that acts on behalf of the copyright owners.


    %p
      %strong 10. On the fair premises, the exhibitor is obliged to comply with the regulations issued by the management, as well as any health and safety rules and regulations that the authorities may issue.*If breaking public regulations the exhibitor and staff may be excluded from the fair, and will not be entitled to any compensation or reimbursement of participation fee.


    %p
      %strong 11. All the venue is a non-smoking area. Alcohol is only allowed on the Professional Preview.


    %p
      %strong 12. If due to circumstances beyond the organiser’s control there are restrictions to heating, electricity or water supply, the exhibitor is not entitled to reimbursement of the participation fee in full or in part, or to any other form of compensation.


    
    - if @application.accepted_terms != true
      %strong
        %h3= f.input :accepted_terms, :label => 'Yes, I accept these terms and regulations.', :input_html => {:required => true}
  
      = f.submit "Accept"
  
= content_for :sidebar do
  = render :partial => 'layouts/sidebar'      
  
= content_for :jquery do
  :plain
    $('#application_accepting_name').focus();
    $('form.application').validate();