%h3= t "supermarket2014.press_releases"

.press_releases
  - @pressreleases.by_subsite(@subsite.id).published.sort_by{|x| x.date_of_release}.reverse.each do |pr|
    .press_release.columns
      .image.two.columns.alpha
        = image_tag pr.image.url(:sidebar)
      .data.three.columns.omega
        .title= pr.title
        .date= l pr.date_of_release, :format => :long
        - unless pr.description.blank?
          .description= pr.description
        - if pr.attachment_eng?
          %p= link_to 'Download (English)', pr.attachment_eng.url, :target => :_blank
        - if pr.attachment_swe?
          %p= link_to 'Download (Swedish)', pr.attachment_swe.url, :target => :_blank

.twelve.columns
  %h3= link_to t("supermarket2014.subscribe_press_releases"), 'http://admin.getanewsletter.com/subscription/YtgJ9jx0DQACHdRVTrB2Ek56Sis/add/'
  
  
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'  