.cms_grid
  .attendees_list.fourteen.columns
    %p
      = link_to 'export as CSV', "/admin/attendees.csv?by_year=#{params[:by_year] ||= 1 }"

    %p
      Restrict by year:
      = select_tag :year_filter, options_from_collection_for_select(Year.order(:year).reverse, :id, :year, @year_scope), {:include_blank => true, :onchange => "document.location.href='/admin/attendees?by_year=' + $(this).val()"}
      
    %table.attendees
      %thead
        %th Name
        %th Email
        %th Code
        %th
      %tbody
        - @attendees.each do |attendee|
          %tr{class: cycle('odd', false)}
            %td= [attendee.first_name, attendee.last_name].join(' ')
            %td= attendee.email
            %td= attendee.verification_code
            %td
              - if attendee.arrival_status != true
                = link_to 'Check in', checkin_admin_attendee_path(attendee), class: :button
      