.row
  .small-12.columns
    %h3= t "aim.connect_to_aim"
  
.row
  .small-12.columns
    %p= t "aim.connect_blurb"
.row
  .small-4.columns.login_choice.text-center
    = link_to '/auth/facebook/' do
      = image_tag theme_image_path('facebook_icon.png')
      %p Connect instantly via Facebook
      
  .small-4.columns.login_choice.text-center
    = link_to '/auth/twitter' do
      = image_tag theme_image_path('twitter_icon.png')
      %p Connect instantly via Twitter
      
  .small-4.columns.login_choice.text-center
    = link_to '/auth/google_oauth2' do
      = image_tag theme_image_path('google_icon.png')
      %p Connect instantly via Google