%h3 All applications

%p
  = link_to 'export as CSV', "/admin/applications.csv?by_year=#{params[:by_year] ||= 1 }"
  = link_to '(without Malongen)', "/admin/applications.csv?by_year=#{params[:by_year] ||= 1 }&nomalongen=1"
%p
  Restrict by year:
  = select_tag :year_filter, options_from_collection_for_select(Year.order(:year).reverse, :id, :year, @year_scope), {:include_blank => true, :onchange => "document.location.href='/admin/applications?by_year=' + $(this).val()"}

  
.cms_grid
      
  = paginate @applications

  .heading.thirteen.columns
    .one.columns.alpha= sortable_column "ID"
    .one.column= sortable_column "Year"
    .two.columns= sortable_column "Name"
    .two.columns= sortable_column "Country"
    .one.columns= sortable_column "Comments"
    .one.columns= sortable_column "Last updated"
    .one.column= sortable_column "Red Spot"
    .two.columns= sortable_column "Decision"
    .one.column= sortable_column "Accepted terms"
  - @applications.each do |app|
    .app.thirteen.columns
      .one.column.alpha= app.id.to_s
      .one.column= app.year.year
      .two.columns
        = link_to app.organisation_name, app
        - if can? :edit, Application
          .small_link
            %i.icon-pencil
              = link_to 'edit', edit_admin_application_path(app)
      .two.columns= raw(app.exhibitor_country.blank? ? "&nbsp;" : Country[app.exhibitor_country].name)
      .one.columns
        - if app.applicationcomments.empty?
          0
        - else
          = "#{app.applicationcomments_count}, last by #{app.applicationcomments.sort_by(&:created_at).last.user.display_name}"
      .one.columns= time_ago_in_words(app.updated_at) + " ago"
      .one.column= raw(app.red_spot == true ? 'yes' : '&nbsp;')
      .two.columns
        = app.granted_result
        %span.delete= link_to "[delete]", [:admin, app], :method => :delete, :data => {:confirm => "Are you sure?"}
      .one.column= raw(app.accepted_terms == true ? 'yes' : '&nbsp;')
  = paginate @applications
