%h3 All applications

%p
  = link_to 'export as CSV', "/admin/applications.csv?by_year=#{params[:by_year] ||= 1 }"
  = link_to '(without Malongen)', "/admin/applications.csv?by_year=#{params[:by_year] ||= 1 }&nomalongen=1"
%p
  Restrict by year:
  = select_tag :year_filter, options_from_collection_for_select(Year.order(:year).reverse, :id, :year, params[:by_year]), {:include_blank => true, :onchange => "document.location.href='/admin/applications?by_year=' + $(this).val()"}
  
  
.cms_grid
      
  = paginate @applications

  .heading.eleven.columns
    .one.columns.alpha= sortable_column "Year"
    .two.columns= sortable_column "Name"
    .two.columns= sortable_column "Country"
    .two.columns= sortable_column "Comments"
    .two.columns= sortable_column "Decision"
  - @applications.each do |app|
    .app.eleven.columns
      .one.column.alpha= app.year.year
      .two.columns= link_to app.organisation_name, app
      .two.columns= raw(app.exhibitor_country.blank? ? "&nbsp;" : Country[app.exhibitor_country].name)
      .two.columns= app.applicationcomments_count
      .two.columns= app.granted_result
      
  = paginate @applications
