= semantic_form_for([:admin, @internallink], :html => {:novalidate => :novalidate}) do |f|
  = f.input :subsite, :include_blank => false
  = f.input :display_name, :label => 'Title, will appear in menu'
  = f.input :name, :label => 'Internal name for this link (optional)'
  = f.input :controller
  = f.input :action
  = f.input :parameter
  = f.input :custom_url
  = f.input :published
  = f.submit t :save