- if current_user
  .sidebar_box.columns
    .title= t "supermarket2014.your_control_panel"
    .content 
      - unless current_user.pending_spaces.empty?
        %b= t "supermarket2014.pending_space"
        %ul
          - current_user.pending_spaces.each do |space|
            %li
              = space.name
              .small_link
                %i.icon-pencil
                = link_to t(:edit_link), edit_space_path(space)
        %p= t "supermarket2014.pending_spaces_explanation"

      - if current_user.spaces.empty? && current_user.pending_spaces.empty?
        %p= t "supermarket2014.no_space_yet"
      - if current_user.spaces.empty? 
        = link_to t("supermarket2014.create_a_space"), new_space_path

      .spaces
        - current_user.spaces.each do |space|
          .space
            .title
              = space.business_name
            - unless space.city.blank? && space.country.blank?
              .city= space.hometown
              .small_link
                = link_to edit_space_path(space) do 
                  %i.icon-pencil
                  = 'Click here to edit basic details (address, website, etc.)'
            .subtitle= t "supermarket2014.your_applications"

            
            %ul
              .year
                %strong= @site_year.year.to_s
              - if @site_year.open?
                - if ( space.applications.empty? || space.applications.where(:year_id => Year.find_by(:year => 2020).id).empty? )
                  %li.apply_2014= link_to t("supermarket2014.apply_to_supermarket"), '/apply/2020/' + space.slug.to_s
                - elsif space.applications.where(:year_id => Year.find_by(:year => 2020).id).to_a.delete_if{|x| !x.finished?}.empty?
                
                  %li.apply_2014
                    = link_to t("supermarket2014.continue_your_application"), '/apply/2020/' + space.slug.to_s
                    .big Your application has not been completed.
                - elsif space.applications.where(:year_id => Year.find_by(:year => 2020).id).to_a.delete_if{|x| x.finished?}.empty?

                  .view
                    .submitted_at
                      = t(:submitted) + ": "
                      = l space.applications.where(:year_id => Year.find_by(:year => 2020).id).first.submitted_at, :format => :long rescue nil
                    = link_to t(:view_application), view_application_url(space.applications.where(:year_id => Year.find_by(:year => 2020).id).first)
                    - if @site_year.allow_editing? || space.applications.where(:year_id => @site_year.id).first.allow_late == true
                      %br/
                      = link_to t(:edit_your_application), edit_application_path(space.applications.where(:year_id => @site_year.id).first) # '/apply/2015/' + space.slug.to_s                    

              - else
                - if ( space.applications.empty? || space.applications.where(:year_id => Year.find_by(:year => 2020).id).empty? )

                  = t :you_did_not_apply_this_year
                - else
                  .view
                    = link_to t(:view_application), view_application_url(space.applications.where(:year_id => @site_year.id).first)
                    - if space.applications.where(:year_id => Year.find_by(:year => 2020).id).first.approved_pending_reveal? == true
                      - if space.applications.where(:year_id => Year.find_by(:year => 2020).id).first.accepted_terms != true
                        %p= link_to "Terms and conditions", terms_application_url(space.applications.where(:year_id => Year.find_by(:year => 2020).id).first)
                  - if @site_year.allow_editing? || space.applications.where(:year_id => @site_year.id).first.allow_late == true
                    = link_to "Edit your #{@site_year.year} application", edit_application_path(space.applications.where(:year_id => @site_year.id).first) 

                  
              - space.applications.sort_by{|x| x.year.year}.reverse.each do |sa|
              
                - next if sa.year == @site_year
                %li
                  .submitted_applications
                    .year= sa.year.year.to_s
                    - unless sa.submitted_at.nil?
                      .submitted_at
                        = t(:submitted) + ": "
                        = l sa.submitted_at, :format => :long rescue nil
                    .view
                      = link_to t(:view_application), view_application_url(sa)
                    - if sa.year.year == 2020
                      .view
                      - if sa.approved_pending_reveal?
                        = t :accepted
                        
                        - if sa.accepted_terms != true
                          .big= link_to 'You must accept the terms and regulations.', terms_application_url(sa)
                        - else
                          - if sa.year.allow_editing? && sa.approved_pending_reveal?
                            .big= link_to "Edit your #{sa.year.year} application", edit_application_path(sa)

  %a.twitter-timeline{"data-height" => "1000", "data-link-color" => "#6e999c", :href => "https://twitter.com/supermarketart?ref_src=twsrc%5Etfw"} Follow on Twitter:
  %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}                          
                       