- if current_user
  .sidebar_box.columns
    .title= t "supermarket2014.your_control_panel"
    .content 
      - unless current_user.pending_spaces.empty?
        %b= t "supermarket2014.pending_space"
        %ul
          - current_user.pending_spaces.each do |space|
            %li
              = space.name
              .small_link
                %i.icon-pencil
                = link_to t(:edit_link), edit_space_path(space)
        %p= t "supermarket2014.pending_spaces_explanation"

      - if current_user.spaces.empty? && current_user.pending_spaces.empty?
        %p= t "supermarket2014.no_space_yet"
      - if current_user.spaces.empty? 
        = link_to t("supermarket2014.create_a_space"), new_space_path

      .spaces
        - current_user.spaces.each do |space|
          .space
            .title
              = space.business_name
            - unless space.city.blank? && space.country.blank?
              .city= space.hometown
              .small_link
                = link_to edit_space_path(space) do 
                  %i.icon-pencil
                  = t(:edit_link)
            .subtitle= t "supermarket2014.your_applications"
            %ul
              - if space.applications.empty? || space.applications.where(:year_id => Year.where(:year => 2014).first.id).empty?
                .year
                  %strong 2014
                .submitted_at= t("supermarket2014.not_started_2014")
                %li.apply_2014= link_to t("supermarket2014.apply_to_supermarket_2014"), '/apply/2014/' + space.slug.to_s                    
              - space.applications.sort_by{|x| x.year}.each do |sa|
                %li
                  .submitted_applications
                    .year= sa.year.year.to_s
                    - unless sa.submitted_at.nil?
                      .submitted_at
                        = t(:submitted) + ": "
                        = l sa.submitted_at, :format => :long rescue nil
                    .view
                      = link_to t(:view_application), sa
                    - if sa.year.year == 2014
                      .view
                        = link_to t("supermarket2014.return_to_your_application"), edit_application_path(sa)
