.sidebar
  Logged in as
  %strong= current_user.display_name
  %div= link_to image_tag(current_user.avatar), edit_admin_user_path(current_user)


  = form_tag('/admin/search') do |f|
    = text_field_tag :searchterm
    = submit_tag "search"
  
  %ul.staff_menu
    - if can? :manage, Video
      %li
        = link_to admin_videos_path do 
          = fa_icon 'youtube-play'
          Supermarket TV
    %li
      = link_to  admin_applications_path do
        =fa_icon 'globe'
        Applications
    %li
      = link_to admin_posts_path do
        = fa_icon 'bullhorn'
        News/blog posts
    - if can? :manage, Page
      %li
        = link_to admin_pages_path do
          = fa_icon 'file-text'
          Pages
    - if can? :manage, Funder        
      %li
        = link_to admin_funders_path do
          = fa_icon 'dollar'
          Funders
    - if can? :manage, Pressrelease
      %li
        = link_to admin_pressreleases_path do
          = fa_icon 'bullhorn'
          Press releases
    - if can? :manage, Presslink
      %li
        = link_to admin_presslinks_path do
          = fa_icon 'trophy'
          Press clippings
    %li
      = link_to edit_admin_user_path(current_user) do
        = fa_icon 'male'
        Edit your profile
    - if can? :manage, Menu
      %li
        = link_to admin_menus_path do
          =fa_icon 'list-ul'
          Menu config
    - if can? :manage, User
      %li
        = link_to admin_users_path do
          = fa_icon 'male'
          All users
    - if can? :manage, Background
      %li
        = link_to admin_backgrounds_path do
          = fa_icon 'picture-o'
          Backgrounds
    - if can? :manage, Year
      %li
        = link_to admin_years_path do
          =fa_icon 'calendar'
          Year setup
    - if can? :manage, Subsite
      %li
        = link_to  admin_subsites_path do
          =fa_icon 'gears'
          Master site setup