.sidebar
  Logged in as
  %strong= current_user.display_name
  %div= link_to image_tag(current_user.avatar), edit_admin_user_path(current_user)


  = form_tag('/admin/search') do |f|
    = text_field_tag :searchterm
    = submit_tag "search"
  
  %ul.staff_menu
    %li
      = link_to  admin_applications_path do
        %i.icon-globe
        Applications
    %li
      = link_to admin_posts_path do
        %i.icon-bullhorn
        News/blog posts
    - if can? :manage, Page
      %li
        = link_to admin_pages_path do
          %i.icon-file-text
          Pages
    - if can? :manage, Funder        
      %li
        = link_to admin_funders_path do
          %i.icon-dollar
          Funders
    - if can? :manage, Presslink
      %li
        = link_to admin_presslinks_path do
          %i.icon-trophy
          Press links
    %li
      = link_to edit_admin_user_path(current_user) do
        %i.icon-male
        Edit your profile
    - if can? :manage, Menu
      %li
        = link_to admin_menus_path do
          %i.icon-list-ul
          Menu config
    - if can? :manage, User
      %li
        = link_to admin_users_path do
          %i.icon-male
          All users
    - if can? :manage, Background
      %li
        = link_to admin_backgrounds_path do
          %i.icon-picture
          Backgrounds
    - if can? :manage, Year
      %li
        = link_to admin_years_path do
          %i.icon-calendar
          Year setup
    - if can? :manage, Subsite
      %li
        = link_to  admin_subsites_path do
          %i.icon-gears
          Master site setup