!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      = display_meta_tags :site => 'Supermarket staff'
      %link{:href => theme_image_path('favicon.ico'), :rel => "shortcut icon"}/
      %meta{:content => content_for?(:description) ? yield(:description) : "Supermarket", :name => "description"}
        = stylesheet_link_tag :application
        = stylesheet_link_tag :admin
        = stylesheet_link_tag 'supermarket2014/stylesheets/application', :media => :screen
        = stylesheet_link_tag 'supermarket2014/stylesheets/admin', :media => :screen
        = javascript_include_tag "application"
        = javascript_include_tag 'admin'
        = tinymce_assets
        / %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
        = csrf_meta_tags
        = yield(:head)
  %body
    %header
      .container
        .sixteen.columns
          - flash.each do |key, value|
            .flash
              .alert{ :class => "alert-#{key}" }
                %strong
                  = value
          %nav.top_bar
            %ul
              %li= link_to t(:faqs), page_path('faq')
              - if current_user
                %li= current_user.display_name
                - if current_user.has_role?(:staff) || current_user.has_role?(:god)
                  %li= link_to 'Public side', '/'
                %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
              - else
                %li= link_to t(:login), new_user_session_path
                %li= link_to t(:sign_up), new_user_registration_path
              %li
                = form_tag('/search') do |f|
                  = text_field_tag :searchterm,  t(:search)
        .sixteen.columns.header_main.alpha
          .twelve.columns.alpha.header_logo
            = link_to image_tag(theme_image_path('supermarket_title.png')), '/'
            = link_to image_tag(theme_image_path('supermarket_top_logo.png')), '/'
          .four.columns.omega
            %nav.social_icons
              %h2 STAFF PAGE
    #main
      .container
        .two.columns.alpha= render :partial => 'layouts/staff_sidebar'
        .fourteen.omega.columns= yield
          
    %footer
      .container
        .footer_text.sixteen.columns= render :partial => 'layouts/footer'                                
  :javascript
    $(document).ready(function() {
      $('input#searchterm').clearField();
      #{yield :jquery}
    });

      