!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Supermarket"
      %link{:href => theme_image_path('favicon.ico'), :rel => "shortcut icon"}/
      %meta{:content => content_for?(:description) ? yield(:description) : "Supermarket", :name => "description"}
        = stylesheet_link_tag :application
        = stylesheet_link_tag 'supermarket2014/stylesheets/application', :media => :screen
        = javascript_include_tag "application"
        / %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
        = csrf_meta_tags
        - if user_signed_in?
          - unless current_user.has_role?(:staff) || current_user.has_role?(:god)
            %script{:type => "text/javascript"}
              var _gaq = _gaq || [];
              _gaq.push(['_setAccount', 'UA-9098444-2']);
              _gaq.push(['_trackPageview']);

              (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
              
        %script{:type => "text/javascript"}
          var switchTo5x=false;
        %script{:type => "text/javascript", :src => "http://w.sharethis.com/button/buttons.js"}
        %script{:type => "text/javascript"} stLight.options({publisher: "fec021ac-bd8c-4517-b7db-cd4a0d0ad212", doNotHash: false, doNotCopy: false, hashAddressBar: false});
        = yield(:head)
  %body
    %header
      .container
        .sixteen.columns
          .flash
            - flash.each do |key, value|
              .alert{ :class => "alert-#{key}" }
                %strong
                  = value
          %nav.top_bar
            %ul
              %li= link_to t(:faqs), page_path('faq')
              - if current_user
                %li= current_user.display_name
                - if current_user.has_role?(:staff) || current_user.has_role?(:god)
                  %li= link_to 'Admin side', '/admin'
                %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
              - else
                %li= link_to t(:login), new_user_session_path
                %li= link_to t(:sign_up), new_user_registration_path
              %li
                = form_tag('/search') do |f|
                  = text_field_tag :searchterm,  t(:search)
        .sixteen.columns.header_main.alpha
          .twelve.columns.alpha.header_logo
            = link_to image_tag(theme_image_path('supermarket_title.png')), '/'
            = link_to image_tag(theme_image_path('supermarket_top_logo.png')), '/'
            .dates 14-16 February 2014
          .four.columns.omega
            %nav.social_icons
              %ul
                %li= link_to image_tag(theme_image_path('facebook_icon.png')), 'https://www.facebook.com/supermarketartfair'
                %li= link_to image_tag(theme_image_path('twitter_icon.png')), 'https://twitter.com/supermarketart'
                %li= link_to image_tag(theme_image_path('tv_icon.png')), page_path('super-tv')
      #menu_base
        .container
          .sixteen_columns.horiz_menu
            %nav.page_menu
              %ul
                - Menu.roots.by_subsite(@subsite.id).published.sort_by(&:sort_order).each_with_index do |menu, index|
                  %li{:class => [(index == 0 ? :first : false) , (!@page.nil? ? (@page.child_of?(menu) ? :active : false) : false), (request.fullpath == menu.link ? :active : false)], :id => "menu_#{menu.id.to_s}"}= link_to menu.item.name, menu.link
      - if @page
        -# top level
        - unless @page.menus.map(&:depth).flatten.compact.uniq == [0] && @page.menus.map(&:children).flatten.compact.empty?
          - unless @page.menus.published.empty?
            = render :partial => 'layouts/recursive_menu', :locals => {:level => 1, :entry => @page, :items => @page.menus.published.first.self_and_ancestors.map(&:self_and_descendants).flatten.delete_if{|x| x.depth != 1  }.sort_by{|x| x.sort_order.to_i}.uniq }
         
    #main{:style => (!@background_image.nil? ? "background: url('#{@background_image.background_image.url}') no-repeat top left" : false)}
      .container
        - if user_signed_in?
          .twelve.columns.alpha= yield
          .four.columns.omega= yield :sidebar

        -else
          .sixteen.columns= yield
          
    %footer
      .container
        .posts_ticker.sixteen.columns= render :partial => 'layouts/post_ticker', :locals => {:promoted_posts => @promoted_posts}
        .footer_text.sixteen.columns= render :partial => 'layouts/footer'                                
  :javascript
    $(document).ready(function() {
      $('input#searchterm').clearField();
      $("<select />").appendTo(".horiz_menu nav");
      $("<option />", {
        "selected" : "selected",
        "value" : "",
        "text" : "Go to..."
      }).appendTo(".horiz_menu nav select");
      $("#menu_base .horiz_menu nav.page_menu li a").each(function() {
        var el = $(this);
        $("<option />", {
          "value" : el.attr("href"),
          "text"  : el.text()
        }).appendTo("#menu_base .horiz_menu nav.page_menu select");
      });
      #{yield :jquery}
    });

      