!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Supermarket"
      %meta{:content => content_for?(:description) ? yield(:description) : "Supermarket", :name => "description"}
        = stylesheet_link_tag :application
        = stylesheet_link_tag 'supermarket2014/stylesheets/application', :media => :screen
        = javascript_include_tag "application"
        / %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}
        = csrf_meta_tags
        = yield(:head)
  %body
    %header
      .container
        .sixteen.columns
          .flash
            - flash.each do |key, value|
              .alert{ :class => "alert-#{key}" }
                %strong
                  = value
          %nav.top_bar
            %ul
              %li= link_to t(:faqs), page_path('faq')
              - if current_user
                %li= current_user.display_name
                %li= link_to t(:sign_out), destroy_user_session_path, :method => :delete
              - else
                %li= link_to t(:login), new_user_session_path
                %li= link_to t(:sign_up), new_user_registration_path
              %li
                = form_tag('/search') do |f|
                  = text_field_tag :searchterm
        .sixteen.columns.header_main
          .header_logo= link_to image_tag(theme_image_path('supermarket_top_logo.png')), '/'
          %nav.social_icons
            %ul
              %li= link_to image_tag(theme_image_path('facebook_icon.png')), 'https://www.facebook.com/supermarketartfair'
              %li= link_to image_tag(theme_image_path('twitter_icon.png')), 'https://twitter.com/supermarketart'
              %li= link_to image_tag(theme_image_path('tv_icon.png')), '#'
    #menu_base
      .container
        .sixteen_columns.horiz_menu
          %nav.page_menu
            %ul
              - Page.by_subsite(@subsite.id).where(:not_in_menu => false).each_with_index do |page, index|
                %li{:class => (index == 0 ? :first : false)}= link_to page.title, page
    #submenu_base
      .container
        .sixteen_columns.horiz_menu
          %nav.page_menu
            %ul
              - Page.by_subsite(@subsite.id).where(:not_in_menu => false).each_with_index do |page, index|
                %li{:class => (index == 0 ? :first : false)}= link_to page.title, page                
    .container
      .twelve.alpha.columns= yield
      .four.omega.columns
        = content_for :sidebar
        - if current_user
          .sidebar_box
            .title= t "supermarket2014.your_control_panel"
            .content 
              - unless current_user.pending_spaces.empty?
                %b= t "supermarket2014.pending_space"
                %ul
                  - current_user.pending_spaces.each do |space|
                    %li
                      = space.name
                      .small_link
                        %i.icon-pencil
                        = link_to t(:edit_link), edit_space_path(space)
                %p= t "supermarket2014.pending_spaces_explanation"

              - if current_user.spaces.empty? && current_user.pending_spaces.empty?
                %p= t "supermarket2014.no_space_yet"
              - if current_user.spaces.empty? 
                = link_to t("supermarket2014.create_a_space"), new_space_path

              .spaces
                - current_user.spaces.each do |space|
                  .space
                    .title
                      = space.business_name
                      .small_link
                        = link_to edit_space_path(space) do 
                          %i.icon-pencil
                          = t(:edit_link)
                    .subtitle= t "supermarket2014.your_applications"
                    %ul
                      - if space.applications.empty? || space.applications.where(:year_id => Year.where(:year => 2014).first.id).empty?
                        %li= link_to t("supermarket2014.apply_to_supermarket_2014"), '/apply/2014/' + space.slug.to_s                    
                      - space.applications.sort_by{|x| x.year}.each do |sa|
                        %li
                          - if sa.finished?
                            .submitted_applications
                              .year= sa.year.year.to_s
                              .submitted_at
                                = t(:submitted) + ": "
                                = l sa.submitted_at, :format => :long
                              .view= link_to t(:view_application), sa
                          - else
                            .pending_applications
                              .year= sa.year.year.to_s
                              .action= link_to t("supermarket2014.return_to_your_application"), edit_application_path(sa)