.page
  %h2= @page.title

  - if @page.show_postimage_on_page == true && @page.postimage?
    .post_image= image_tag @page.postimage.url(:large)
  .body
    = raw @page.body
  
  - if user_signed_in?
    - if can? :edit, Page
      = link_to 'edit this page', edit_admin_page_path(@page)  
      
  
= content_for :sidebar do
  - if user_signed_in?
    = render :partial => 'layouts/sidebar' 
  -else
    %a{:class => "twitter-timeline", :href => "https://twitter.com/twitterapi", :"data-widget-id" => "430669969043369985", :height => 650, :"data-chrome" => "nofooter transparent"} Currently on Twitter
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");