.page
  %h2= @page.title

  - if @page.show_postimage_on_page == true && @page.postimage?
    .post_image= image_tag @page.postimage.url(:large)
  .body
    = raw @page.body
  
  - if user_signed_in?
    - if can? :edit, Page
      = link_to 'edit this page', edit_admin_page_path(@page)  
      
  
= content_for :sidebar do
  - if user_signed_in?
    = render :partial => 'layouts/sidebar' 
  -# -else
  -#   %a.twitter-timeline{"data-height" => "1000", "data-link-color" => "#6e999c", :href => "https://twitter.com/supermarketart?ref_src=twsrc%5Etfw"} Follow on Twitter:
  -#   %script{:async => "", :charset => "utf-8", :src => "https://platform.twitter.com/widgets.js"}
