= semantic_form_for([:admin, @presslink], :html => {:multipart => true} ) do |f|
  = f.input :subsite, :as => :select, :include_blank => false
  = f.input :year, :include_blank => false
  %hr
  = f.input :date_of_press, :as => :date_picker
  = f.input :source
  = f.input :country
  = f.input :title
  = f.input :url
  - if f.object.attachment?
    Attached file:
    = link_to f.object[:attachment], f.object.attachment.url
    = f.input :attachment, :label => 'Change attachment'
    = f.input :remove_attachment, :as => :boolean
  - else
    = f.input :attachment
  %br{clear: :all}
  = f.submit 'Save'
