= semantic_nested_form_for([:admin, @post], :html => {:multipart => true}) do |f|
  - unless @post.errors.empty?
    = @post.errors.full_messages
  #language-tabs
    %ul.language-selection
      - [:en].each do |locale|
        %li{:id => "lang-#{locale}"}= link_to locale.to_s, "#lang-#{locale}"
    - [:en].each do |locale|
      %div{:id => "lang-#{locale}"}
        = f.globalize_fields_for locale do |en|
          %p
            %b
              Title/subject of blog post

            = en.text_field :subject
          
          = en.cktext_area :body , ckeditor: { language: 'en'}#, cols: 40, ckeditor: { uiColor: '#AADC6E', toolbar: 'mini' } #, :class => :tinymce

  -#= tinymce
  = f.input :posted_by, :as => :select, :collection => User.all_staff.sort_by(&:display_name)
  = f.input :post_as_supermarket, :as => :boolean, :label => "Don't put staff member's name on post, put 'Posted by Supermarket' instead"
  = f.input :subsite, :as => :select, :collection => Subsite.all, :label => "Show post on which sites/themes:"

  = f.input :published, :as => :boolean, :label => "Published?", :hint => "If blank, only logged-in staff will be able to see it"
  = f.input :published_at, :as => :date_picker, :label => "Date of post"
  
  - unless f.object.new_record?
    - if f.object.postimage?
      = image_tag f.object.postimage.url(:frontsmall)
  = f.input :postimage, label: 'Add single image for frontpage', hint: 'You can add additional images below'
  
  %h2 images (if more than one is attached they will show in a gallery)

  
  = f.fields_for :postslides do |ff|
    .add_image.clearfix
      %p Add an image to this post:
      - unless ff.object.new_record?
        = image_tag ff.object.image.url(:sidebar)
      = ff.input :image, :as => :file
      = ff.input :caption
      = ff.input :credit
      = ff.link_to_remove 'remove this image'
  .nested_fields= f.link_to_add 'add an image', :postslides
  %br{:clear => :all}
  = f.submit
= content_for :jquery do
  :plain
    $('#language-tabs').tabs();

    