.aim_profile
  .redbar
  .row
    .small-6.columns.space
      .title_and_web
        .space_title{:class => @space.business_name.length > 25 ? :long : false}= @space.business_name
        .space_websites
          - unless @space.website1.blank?
            .space_web= link_to @space.website1, @space.website1_safe, :target => :_blank
          - unless @space.website2.blank?
            .space_web= link_to @space.website2, @space.website2_safe, :target => :_blank
          - if current_user
            - if current_user.is_aim_staff?
              .admin_stuff
                - if @space.approved == true
                  %b= button_to 'Unapprove', unapprove_admin_space_path(@space)
                - else
                  %div
                  %b= button_to 'Approve', approve_admin_space_path(@space)
      - unless @space.businesstypes.empty?
        .business_type= @space.businesstypes.map(&:name).join(' / ')
      .space_metadata
        .section_heading= t "aim.who_we_are"
        .section_content.readmore= raw simple_format(@space.short_description)
    
        .section_heading= t "aim.what_we_do"
        .section_content
          %ul
            - unless @space.exhibitionspacetype.nil?
              %li= @space.exhibitionspacetype.name
            -  unless @space.is_active == true
              %li= t(:inactive)
            %li
              - if @space.founding_year
                = @space.founding_year
                = " - "
                - if @space.is_active == true
                  = t(:present)
                - else
                  = @space.year_of_closing
              - else
                - if @space.is_active?
                  = t(:currently_active)
                - else
                  - if @space.year_of_closing?
                    = @space.year_of_closing
            - unless @space.exhibitions_per_year.blank?
              %li
                = @space.exhibitions_per_year
                = t "aim.exhibitions_per_year"
                %ul
                  %li
                    = "#{@space.percent_for_exhibitions.to_s}% " + t("aim.dedicated_to_exhibitions")
                  - unless @space.exhibitors.blank?
                    %li= @space.exhibitors
                  - unless @space.percent_invited.blank?
                    %li= "#{@space.percent_invited}% " + t("aim.invited")
              - unless @space.activities_other.blank?
                %li= "#{@space.activities_other} " + t("aim.per_year_other")
        .section_heading= t "aim.what_we_exhibit"
        .section_content
          = @space.activities.map(&:name).join(' - ')
    .small-6.columns.space
      - if @space.latitude.nil?
        .space_map No map data.
      - else
        #space_map= render :partial => "shared/google_map", :locals => { :organizations => [@space] }

        .logo
          - if @space.logo?
            %img{:src => @space.logo.url(:profile)}
          - else
            &nbsp;
      .address
        .section_heading= t "aim.where_we_are"
        .section_content
          - if @space.visiting_address1.blank?
            = @space.address1  + "," unless @space.address1.blank?
            = @space.address2  + "," unless @space.address2.blank?
            = @space.city unless @space.city.blank?
            = @space.state unless @space.state.blank? || (@space.state == @space.city)
            = @space.postcode unless @space.postcode.blank?
            = Country[@space.country].name unless @space.country.blank?
          - else
            = @space.visiting_address1  + "," unless @space.visiting_address1.blank?
            = @space.visiting_address2  + "," unless @space.visiting_address2.blank? 
            = @space.visiting_city  + "," unless @space.visiting_city.blank?
            = @space.visiting_state  + "," unless @space.visiting_state.blank? || (@space.visiting_state == @space.visiting_city)
            = @space.visiting_postcode unless @space.visiting_postcode.blank?
            = Country[@space.visiting_country].name unless @space.visiting_country.blank?
  .row
    .small-12.columns
      
      %ul{:"data-orbit" => true}
        - @space.allimages.each do |i|
          %li
            = image_tag i.first.url
            - unless i.last.blank?
              .orbit-caption= i.last
            


= content_for :jquery do
  :plain 
    (function(c){function g(b,a){this.element=b;this.options=c.extend({},h,a);c(this.element).data("max-height",this.options.maxHeight);c(this.element).data("height-margin",this.options.heightMargin);delete this.options.maxHeight;if(this.options.embedCSS&&!k){var d=".readmore-js-toggle, .readmore-js-section { "+this.options.sectionCSS+" } .readmore-js-section { overflow: hidden; }",e=document.createElement("style");e.type="text/css";e.styleSheet?e.styleSheet.cssText=d:e.appendChild(document.createTextNode(d));
    document.getElementsByTagName("head")[0].appendChild(e);k=!0}this._defaults=h;this._name=f;this.init()}var f="readmore",h={speed:100,maxHeight:200,heightMargin:16,moreLink:'<a href="#">Read More</a>',lessLink:'<a href="#">Close</a>',embedCSS:!0,sectionCSS:"display: block; width: 100%;",startOpen:!1,expandedClass:"readmore-js-expanded",collapsedClass:"readmore-js-collapsed",beforeToggle:function(){},afterToggle:function(){}},k=!1;g.prototype={init:function(){var b=this;c(this.element).each(function(){var a=
    c(this),d=a.css("max-height").replace(/[^-\d\.]/g,"")>a.data("max-height")?a.css("max-height").replace(/[^-\d\.]/g,""):a.data("max-height"),e=a.data("height-margin");"none"!=a.css("max-height")&&a.css("max-height","none");b.setBoxHeight(a);if(a.outerHeight(!0)<=d+e)return!0;a.addClass("readmore-js-section "+b.options.collapsedClass).data("collapsedHeight",d);a.after(c(b.options.startOpen?b.options.lessLink:b.options.moreLink).on("click",function(c){b.toggleSlider(this,a,c)}).addClass("readmore-js-toggle"));
    b.options.startOpen||a.css({height:d})});c(window).on("resize",function(a){b.resizeBoxes()})},toggleSlider:function(b,a,d){d.preventDefault();var e=this;d=newLink=sectionClass="";var f=!1;d=c(a).data("collapsedHeight");c(a).height()<=d?(d=c(a).data("expandedHeight")+"px",newLink="lessLink",f=!0,sectionClass=e.options.expandedClass):(newLink="moreLink",sectionClass=e.options.collapsedClass);e.options.beforeToggle(b,a,f);c(a).animate({height:d},{duration:e.options.speed,complete:function(){e.options.afterToggle(b,
    a,f);c(b).replaceWith(c(e.options[newLink]).on("click",function(b){e.toggleSlider(this,a,b)}).addClass("readmore-js-toggle"));c(this).removeClass(e.options.collapsedClass+" "+e.options.expandedClass).addClass(sectionClass)}})},setBoxHeight:function(b){var a=b.clone().css({height:"auto",width:b.width(),overflow:"hidden"}).insertAfter(b),c=a.outerHeight(!0);a.remove();b.data("expandedHeight",c)},resizeBoxes:function(){var b=this;c(".readmore-js-section").each(function(){var a=c(this);b.setBoxHeight(a);
    (a.height()>a.data("expandedHeight")||a.hasClass(b.options.expandedClass)&&a.height()<a.data("expandedHeight"))&&a.css("height",a.data("expandedHeight"))})},destroy:function(){var b=this;c(this.element).each(function(){var a=c(this);a.removeClass("readmore-js-section "+b.options.collapsedClass+" "+b.options.expandedClass).css({"max-height":"",height:"auto"}).next(".readmore-js-toggle").remove();a.removeData()})}};c.fn[f]=function(b){var a=arguments;if(void 0===b||"object"===typeof b)return this.each(function(){if(c.data(this,
    "plugin_"+f)){var a=c.data(this,"plugin_"+f);a.destroy.apply(a)}c.data(this,"plugin_"+f,new g(this,b))});if("string"===typeof b&&"_"!==b[0]&&"init"!==b)return this.each(function(){var d=c.data(this,"plugin_"+f);d instanceof g&&"function"===typeof d[b]&&d[b].apply(d,Array.prototype.slice.call(a,1))})}})(jQuery);
    
    $('.readmore').readmore({
      speed: 75,
      maxHeight: 500
    });
    
