.aim_profile
  .redbar
  .row
    .small-6.columns.space
      .title_and_web
        .space_title{:class => @space.business_name.length > 25 ? :long : false}= @space.business_name
        .space_websites
          - unless @space.website1.blank?
            .space_web= link_to @space.website1, @space.website1_safe
          - unless @space.website2.blank?
            .space_web= link_to @space.website2, @space.website2_safe
          - if current_user
            - if current_user.is_aim_staff?
              .admin_stuff
                - if @space.approved == true
                  %b= button_to 'Unapprove', unapprove_admin_space_path(@space)
                - else
                  %div
                  %b= button_to 'Approve', approve_admin_space_path(@space)
      - unless @space.businesstypes.empty?
        .business_type= @space.businesstypes.map(&:name).join(' / ')
      .space_metadata
        .section_heading= t "aim.who_we_are"
        .section_content= raw simple_format(@space.short_description)
    
        .section_heading= t "aim.what_we_do"
        .section_content
          %ul
            - unless @space.exhibitionspacetype.nil?
              %li= @space.exhibitionspacetype.name
            -  unless @space.is_active == true
              %li= t(:inactive)
            %li
              - if @space.founding_year
                = @space.founding_year
                = " - "
                - if @space.is_active == true
                  = t(:present)
                - else
                  = @space.year_of_closing
              - else
                - if @space.is_active?
                  = t(:currently_active)
                - else
                  - if @space.year_of_closing?
                    = @space.year_of_closing
            - unless @space.exhibitions_per_year.blank?
              %li
                = @space.exhibitions_per_year
                = t "aim.exhibitions_per_year"
                %ul
                  %li
                    = "#{@space.percent_for_exhibitions.to_s}% " + t("aim.dedicated_to_exhibitions")
                  - unless @space.exhibitors.blank?
                    %li= @space.exhibitors
                  - unless @space.percent_invited.blank?
                    %li= "#{@space.percent_invited}% " + t("aim.invited")
              - unless @space.activities_other.blank?
                %li= "#{@space.activities_other} " + t("aim.per_year_other")
        .section_heading= t "aim.what_we_exhibit"
        .section_content
          = @space.activities.map(&:name).join(' - ')
    .small-6.columns.space
      - if @space.latitude.nil?
        .space_map No map data.
      - else
        #space_map= render :partial => "shared/google_map", :locals => { :organizations => [@space] }

        .logo
          - if @space.logo?
            %img{:src => @space.logo.url(:profile)}
          - else
            &nbsp;
      .address
        .section_heading= t "aim.where_we_are"
        .section_content
          - if @space.visiting_address1.blank?
            = @space.address1  + "," unless @space.address1.blank?
            = @space.address2  + "," unless @space.address2.blank?
            = @space.city unless @space.city.blank?
            = @space.state unless @space.state.blank? || (@space.state == @space.city)
            = @space.postcode unless @space.postcode.blank?
            = Country[@space.country].name unless @space.country.blank?
          - else
            = @space.visiting_address1  + "," unless @space.visiting_address1.blank?
            = @space.visiting_address2  + "," unless @space.visiting_address2.blank? 
            = @space.visiting_city  + "," unless @space.visiting_city.blank?
            = @space.visiting_state  + "," unless @space.visiting_state.blank? || (@space.visiting_state == @space.visiting_city)
            = @space.visiting_postcode unless @space.visiting_postcode.blank?
            = Country[@space.visiting_country].name unless @space.visiting_country.blank?
  .row
    .small-12.columns
      
      %ul{:"data-orbit" => true}
        - @space.allimages.each do |i|
          %li
            = image_tag i.first.url
            - unless i.last.blank?
              .orbit-caption= i.last
            


= content_for :jquery do
  :plain
    $('.carousel').flexslider({
        animation: "slide",
        namespace: "topslider",
        controlNav: false,
        directionNav: false,
        selector: ".slides > .slide"
    });     
