.row
  .small-12.columns
    %h3
      = t "aim.space_basic_details"
      = ": #{@space.name}"
= semantic_nested_form_for(@space, :url => wizard_path(step, :space_id => @space.id), :method => :put, :html => {:id => :space_form}) do |f|
  .row
    .small-6.columns
      .row
        .small-12.columns= f.input :contact_person, :input_html => {:required => true, :value => (@space.contact_person.blank? ? current_user.display_name  : @space.contact_person) }
      .row
        .small-12.columns= f.input :contact_email,  :input_html => {:required => true,  :value => (@space.contact_email.blank? ? current_user.email : @space.contact_email) }
      .row
        .small-12.columns= f.input :contact_phone, :input_html => {:required => true}
      .row  
        .small-12.columns= f.input :website1, :input_html => {:required => true}
      .row
        .small-12.columns= f.input :website2
    .small-6.columns
      .row
        .small-12.columns
          %p= t "supermarket2014.visiting_address_different"
          = f.input :visiting_address1, :input_html => { :value => (@space.visiting_address1.blank? ? @space.address1 : @space.visiting_address1) }
      .row
        .small-12.columns
          = f.input :visiting_address2, :input_html => { :value => (@space.visiting_address2.blank? ? @space.address2 : @space.visiting_address2) }
      .row
        .small-12.columns= f.input :visiting_city, :input_html => { :value => (@space.visiting_city.blank? ? @space.city : @space.visiting_city) }
      .row
        .small-12.columns= f.input :visiting_state, :input_html => { :value => (@space.visiting_state.blank? ? @space.state : @space.visiting_state) }
      .row
        .small-12.columns= f.input :visiting_postcode, :input_html => { :value => (@space.visiting_postcode.blank? ? @space.postcode : @space.visiting_postcode) }
      .row
        .small-12.columns= f.input :visiting_country, :as => :country, :iso_codes => true, :priority_countries => [], :include_blank => t("supermarket2014.please_choose_a_country"), :input_html => {:required => true}

      .row
        .small-12.columns= f.input :form_direction, :value => "forward", :as => :hidden
    .row
      = f.actions do
        .small-4.columns.text-right.small-offset-2
          = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-left icon-large'></i>") + t(:back), :as => :button,  :button_html => {:class => :previous}
        .small-4.columns.text-left
          = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-right icon-large'></i>") + t(:next), :as => :button

- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'       

:javascript
  $(document).ready(function() {
    $('#space_form').validate();
    $('form button').click(function() {

      $("#space_form_direction").val($(this).attr('class'));

    });
  });
