.row
  .small-12.columns
    %h2= t "aim.hang_on_a_minute"
.row
  .small-10.columns
    %h4= @space.name

  .small-12.columns
    %p= t "aim.space_handoff_needed"

.row
  .small-12.columns
    %p= t "aim.authorised_users", :space => @space.name

    %ul.existing_accounts
      - @space.space_users.approved.each do |su|
        %li= su.user.protected_email

.row
  .small-6.columns
    %p= t "aim.login_to_reclaim", :space => @space.name
    = button_to(destroy_user_session_path, :method => :delete) do
      = fa_icon 'sign-out', class: :large
      = t :sign_out
  .small-6.columns
    %p= t "aim.email_to_reclaim", :space => @space.name
    = button_to(space_request_access_path(:space_id => @space.slug), :method => :get) do
      = fa_icon 'envelope-o', class: :large
      = t "aim.request_authorisation"
      