<div class="container">
  <div class="eleven columns alpha">
  <h2><%= t :sign_in %></h2>

  <p><%= t :sign_in_page_text %></p>

  <%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

    <%= f.input :email, :autofocus => true %>


    <%= f.input :password %>

    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :boolean %> 
    <% end -%>

    <div><%= f.action :submit, :label => raw("<i class='icon-signin icon-large'></i>") + t(:sign_in), :as => :button,  :button_html => {:class => :next} %></div>
  <% end %>
  </div>
  <div class="four columns omega">

  <div class="sidebar_box">
    <h2><%= t :need_help %></h2>
    <%= render "devise/shared/links" %>
  </div>
</div>