.container.detail_view
  - if @application.space.logo?
    .four.columns.logo.alpha= image_tag @application.space.logo.url(:profile)

  %h2= @application.organisation_name
  %h3= @application.written_country
  
  .columns.alpha{:class => (user_signed_in? ? 'six' : 'eight')}
    .public_address
      = raw @application.exhibitor_full_address
      - unless @application.websites.empty?
        - @application.websites.each do |website|
          %br/
          = link_to website.url.gsub(/^http\:\/\//i, ''), website.url_safe
      - unless @application.contact_email.blank?
        %p= link_to @application.contact_email, 'mailto:' + @application.contact_email
  .columns.alpha.eleven
    - if @application.text_2018.blank?
      %p 
        = raw @application.space.short_description
        - unless @application.organisation_description.blank?
          = raw @application.organisation_description
    - else
      %p= @application.text_2018

  #exhibitor_images.columns.alpha.omega{:class => (user_signed_in? ? 'twelve' : 'sixteen')}

    - @application.applicationwebimages.each do |fc|
      .slide
        .image= image_tag fc.imagefile.url(:normal)
        - unless fc.title.blank? && fc.caption.blank?
          .caption
            .title= raw fc.title

  .columns.alpha{:class => (user_signed_in? ? 'six' : 'eight')}

    - unless @application.applicationlinks.empty?
      %strong= t :further_links
      %ul
        - @application.applicationlinks.each do |site|
          %li= link_to site.title.blank? ? site.url : site.title, site.url_safe, :target => :_blank
  
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'  
            
= content_for :jquery do
  :plain
    $('#exhibitor_images').slick({infinite: true,
      arrows: false,

      variableWidth: false,
      autoplay: true,
      autoplaySpeed: 2400,
      slidesToScroll: 1,
    });