%h3
  = t("supermarket2014.exhibitors")
  = " : #{@year.year.to_s}"

- if @year.reveal_decisions == true
  %div
    %p
      %strong Exhibition booths
  .exhibitors_year

    - @year.applications.approved_preview.booths.sort_by{|x| x.space.business_name.downcase}.in_groups_of(3).each do |group| 
      - group.each_with_index do |app, index|
        - next if app.nil?
        .space.four.columns{:class => [(index == 0 ? :alpha : false), (index == 2 ? :omega : false)]}
          .title= link_to app.organisation_name, exhibitor_year_path(:space => app.space, :year => @year.year)
          .inside.alpha.column
            .application_image.two.columns.alpha= link_to image_tag(app.any_image(:sidebar)), exhibitor_year_path(:space => app.space, :year => @year.year)
            .hometown.column.one.omega= raw app.written_country.gsub(/,/, "<br />")

  .twelve.columns
    %p
      %strong Presentation stands:              
  .exhibitors_year
    - @year.applications.approved_preview.stands.sort_by{|x| x.space.business_name.downcase}.in_groups_of(3).each do |group| 
      - group.each_with_index do |app, index|
        - next if app.nil?
        .space.four.columns{:class => [(index == 0 ? :alpha : false), (index == 2 ? :omega : false)]}
          .title= link_to app.organisation_name, exhibitor_year_path(:space => app.space, :year => @year.year)
          .inside.alpha.column
            .application_image.two.columns.alpha= link_to image_tag( app.any_image(:sidebar)), exhibitor_year_path(:space => app.space, :year => @year.year)
            .hometown.column.one.omega= raw app.written_country.gsub(/,/, "<br />")
            
- else
  = t("supermarket2014.will_reveal_later")
  %p Browse through the last catalogue:
  .issuuembed{"data-configid" => "0/5185517", :style => "width: 525px; height: 525px;"}
  %script{:async => "true", :src => "//e.issuu.com/embed.js", :type => "text/javascript"}
  -# %p= link_to 'View our 2013 catalogue', 'http://issuu.com/supermarketartfair/docs/supermarket_catalogue_2013'
  

= content_for :sidebar do
  - if user_signed_in?
    = render :partial => 'layouts/sidebar'
  - else
    %a{:class => "twitter-timeline", :href => "https://twitter.com/twitterapi", :"data-widget-id" => "430669969043369985", :"data-chrome" => "nofooter transparent"} Currently on Twitter
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");