%h3
  = t("supermarket2014.exhibitors")
  = " : #{@year.year.to_s}"

- if @year.reveal_decisions == true
  .exhibitors_year
    - @year.applications.approved.sort_by{|x| x.space.business_name.downcase}.in_groups_of(3).each do |group| 
      - group.each_with_index do |app, index|
        - next if app.nil?
        .space.four.columns{:class => [(index == 0 ? :alpha : false), (index == 2 ? :omega : false)]}
          .title= link_to app.organisation_name, exhibitor_year_path(:space => app.space, :year => @year.year)
          .inside
            .application_image.two.columns.alpha= image_tag app.any_image(:sidebar)
            .hometown.column.omega
              - unless app.hometown.blank?
                = raw app.hometown.gsub(/,/, "<br />")
              
- else
  = t("supermarket2014.will_reveal_later")
  .issuuembed{"data-configid" => "0/5185517", :style => "width: 525px; height: 525px;"}
  %script{:async => "true", :src => "//e.issuu.com/embed.js", :type => "text/javascript"}
  -# %p= link_to 'View our 2013 catalogue', 'http://issuu.com/supermarketartfair/docs/supermarket_catalogue_2013'
  
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'  