%h3
  = t("supermarket2014.exhibitors")
  = " : #{@year.year.to_s}"

- if @year.reveal_decisions == true
  .exhibitors_year
    - @year.applications.approved.sort_by{|x| x.space.business_name.downcase}.in_groups_of(3).each do |group| 
      - group.each_with_index do |app, index|
        - next if app.nil?
        .space.four.columns{:class => [(index == 0 ? :alpha : false), (index == 2 ? :omega : false)]}
          .inside
            .application_image.two.columns= image_tag app.any_image(:sidebar)
            .title= link_to app.organisation_name, exhibitor_year_path(:space => app.space, :year => @year.year)
            .hometown= app.written_country
- else
  = t("supermarket2014.will_reveal_later")
  %p= link_to 'View our 2013 catalogue', 'http://issuu.com/supermarketartfair/docs/supermarket_catalogue_2013'
  
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'  