
.metadata
  = "posted on #{l post.published_at.to_date, :format => :long} by "
  = post.post_as_supermarket == true ? 'Supermarket Art Fair' : post.posted_by.display_name

.body
  = raw post.body

- unless post.postslides.empty?
  .post_slides#post_carousel
    %ul.slides
      - post.postslides.each do |ps|
        .slide
          .image= image_tag ps.image.url(:large)
          - unless ps.caption.blank?
            .caption= raw ps.caption
          - unless ps.credit.blank?
            .credit= "Photo credit: #{ps.credit}"


  .share_this= share_this(post)

- if user_signed_in?
  - if can? :edit, Post
    = link_to 'edit this post', edit_admin_post_path(post)
            
   