.index_heading
  %h1 Supermarket news
  
- @posts.each do |post|
  .index.post
    %h3= link_to post.subject, post
    = render :partial => 'post', :locals => {:post => post}

= paginate @posts
  
= content_for :sidebar do
  - if user_signed_in?
    = render :partial => 'layouts/sidebar'
  - else
    %a{:class => "twitter-timeline", :href => "https://twitter.com/twitterapi", :height => 800, :"data-widget-id" => "430669969043369985", :"data-chrome" => "nofooter transparent"} Currently on Twitter
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        
= content_for :jquery do
  :plain
    $('.post_slides').slick({infinite: true,
      arrows: false,
      slide: '.slide',
      variableWidth: false,
      autoplay: true,
      autoplaySpeed: 2400,
      slidesToScroll: 1,
    });