<h2><%= t :forgot_your_password %></h2>

<p><%= t :forgot_password_text %></p>

<%= semantic_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div>
  <%= f.input :email, :autofocus => true %></div>

  <div><%= f.action :submit, :label => raw("<i class='icon-envelope-alt icon-large'></i>") + t(:send_password_button), :as => :button,  :button_html => {:class => :next} %></div>
<% end %>

<%= content_for :sidebar do %>
<div class="sidebar_box">
  <h2><%= t :already_have_account %>
  </h2>
  <%= render "devise/shared/links" %>
<% end %>