%h3= t "supermarket2014.create_a_space"

%p= t "supermarket2014.new_space_info"

= semantic_form_for(@space) do |f|
  / = f.input :country, :label => t("supermarket2014.country_of_space")
  = f.input :business_name, :as => :autocomplete, :url => autocomplete_space_business_name_spaces_path, :label => t("supermarket2014.name_of_space"), :input_html => {:data => {:no_matches_label => 'Not registered yet!'}}
  = f.actions do
    = f.action :submit, :label => raw("<i class='fa fa-arrow-circle-right icon-large'></i>") + t(:next), :as => :button, :class => :next
  
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'      