
= semantic_nested_form_for([:admin, @organisationtype], :html => {:multipart => true}) do |f|
  .row
    .small-12.columns
      %dl{:class => :tabs, :"data-tab" => ''}
        - I18n.available_locales.each_with_index do |locale, index|
          %dd{:class => index == 0 ? :active : false}= link_to locale.to_s, "#lang-#{locale.to_s}"
      .tabs-content
        - I18n.available_locales.each_with_index do |locale, index|
          .content{:id => "lang-#{locale}", :class => index == 0 ? :active : false}
            = f.globalize_fields_for locale do |en|
              %b
                Name of initiative type in
                = locale.to_s
              = en.text_field :name
  .row
    .small-12.columns= f.submit 'Save', :class => [:button, :round, :small]