%h3 Performance applications

/ %p
/   = link_to 'export as CSV', "/admin/performanceapplications.csv?by_year=#{params[:by_year] ||= 1 }"

%p
  Restrict by year:
  = select_tag :year_filter, options_from_collection_for_select(Year.order(:year).reverse, :id, :year, @year_scope), {:include_blank => true, :onchange => "document.location.href='/admin/performanceapplications?by_year=' + $(this).val()"}

  
.cms_grid
      
  = paginate @performanceapplications

  .heading.thirteen.columns
    .one.columns.alpha= sortable_column "ID"
    .one.column= sortable_column "Year"
    .two.columns= sortable_column "Name"
    .two.columns= sortable_column "Decision"
    .one.columns &nbsp;
  - @performanceapplications.each do |app|
    .app.thirteen.columns
      .one.column.alpha= app.id.to_s
      .one.column= app.year.year
      .two.columns
        = link_to app.contact_name, [:admin, app]
        / - if can? :edit, app
        /   .small_link
        /     %i.icon-pencil
        /       = link_to 'edit', edit_admin_performanceapplication_path(app)
      .two.columns= app.decision_text
      .one.column
        %span.delete= link_to "[delete]", [:admin, app], :method => :delete, :data => {:confirm => "Are you sure?"}
  = paginate @performanceapplications
