%div{:id => "submenu_#{parent.id.to_s}"}
  - submenu.sort_by{|x| x.sort_order.to_i}.each do |sm|
    .submenu_item.column{:id => "submenu_#{sm.id.to_s}"}
      .title= link_to sm.item.name, edit_admin_menu_path(sm) rescue 'deleted'
      - unless sm.children.empty?
        %div
          submenu:
          = render :partial => 'recursive_submenu', :locals => {:submenu => sm.children, :parent => sm}
      %p
        %i.icon-plus-sign-alt
        = link_to (sm.children.empty? ? ' start a ' : ' add to ') + 'submenu', new_admin_menu_path(:parent_id => sm.id)
      %p
        %i.icon-reorder
        = link_to ' re-order submenu', reorder_admin_menu_path(sm.id)
      %p
        %i.icon-frown
        = link_to ' delete ' + (sm.item.name rescue 'deleted' )+ ' menu entry (and any submenus)', [:admin, sm], :method => :delete, :data => {:confirm => "Are you sure?????"} 
