.cms_grid#top_menu
  - Menu.roots.sort_by(&:sort_order).each do |menu|
    .menu_item.twelve.columns{:id => "menu_#{menu.id.to_s}"}
      .title= link_to menu.item.name, edit_admin_menu_path(menu)
      = menu.item_type
      - unless menu.children.empty?
        .row
          .small-6.columns
            submenu:
            = render :partial => 'recursive_submenu', :locals => {:submenu => menu.children, :parent => menu}
          

          
      %div
        %p
          %i.icon-plus-sign-alt
          = link_to (menu.children.empty? ? ' start a ' : ' add to ') + 'submenu', new_admin_menu_path(:parent_id => menu.id)
        %p
          %i.icon-reorder
          = link_to ' re-order submenu', reorder_admin_menu_path(menu.id)
        %p
          %i.icon-frown
          = link_to ' delete ' + menu.item.name + ' menu (and all submenus)', [:admin, menu], :method => :delete, :data => {:confirm => "Are you sure?????"}

%div= link_to "add new menu item", new_admin_menu_path

:javascript
  $('#top_menu').sortable({axis: 'y',
    dropOnEmpty: false,
    cursor: 'crosshair',
    items: '.menu_item',
    opacity: 0.4,
    scroll: true,
    update: function(){
      $.ajax({
        url: '/admin/menus/sort',
        type: 'post',
        data: $('#top_menu').sortable('serialize'),
        dataType: 'script',
        complete: function(request){
          $('#top_menu').append('<div class="highlight">sorted!</div>');
          $(".highlight").fadeOut();
        }
      });
    }});