re-ordering submenu items for
%h3= @parent.item.name

(drag and drop to reorder, left-to-right)

.cms_grid#reorder
  - @parent.children.sort_by{|x| x.sort_order.to_i }.each do |menu|
    .menu_item.column{:id => "menu_#{menu.id.to_s}"}
      .title= menu.item.name
      - unless menu.children.empty?
        (has it's own submenu with
        = menu.children.published.size
        item(s) on it!)
.clear      
  %h3= link_to 'back to all menus', admin_menus_path
:javascript
  $('#reorder').sortable({axis: 'x',
    dropOnEmpty: false,
    cursor: 'crosshair',
    items: '.menu_item',
    opacity: 0.4,
    scroll: true,
    update: function(){
      $.ajax({
        url: '/admin/menus/sort',
        type: 'post',
        data: $('#reorder').sortable('serialize'),
        dataType: 'script',
        complete: function(request){
          $('#reorder').append('<div class="highlight">sorted!</div>');
          $(".highlight").fadeOut();
        }
      });
    }});