= semantic_form_for([:admin, @year]) do |f|
  = f.input :year
  = f.input :applications_open
  = f.input :allow_editing, :label => "Allow editing of applicatons", :hint => "Untick this when the publication deadline arrives", :as => :boolean
  = f.input :tv_description, :label => "Text for top of that year's Supermarket TV page"
  = f.input :reveal_decisions
  = f.input :registration_deadline,  :as => :date_picker, input_html: {class: :datepicker}, hint: 'For professional preview'
  = f.submit