%h3= t :funders_and_partners
- @allfunders.each do |ft|
  .funder_type.column.alpha.omega
    .title= ft.name
    - ft.funders.each do |f|
      .funder.columns.three.alpha.omega
        - if f.url.blank?
          = image_tag f.logo.url
          .name= f.name
        - else
          = link_to f.url do
            = image_tag f.logo.url
            .name= f.name
    
- if user_signed_in?
  = content_for :sidebar do
    = render :partial => 'layouts/sidebar'          