!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Supermarket staff"
      %meta{:content => content_for?(:description) ? yield(:description) : "Supermarket", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = stylesheet_link_tag "admin", :media => "all"
        = javascript_include_tag "application"
        = javascript_include_tag Ckeditor.cdn_url
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container
      %p.notice= notice
      %p.alert= alert
      = yield